<!-- <div class="container-fluid">
  <div class="content-section">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default">
                <div class="panel-heading"><h4 >User Profile</h4></div>
                <div class="panel-body">
                    <div class="box box-info">
          
                        <div class="box-body">

                            <div class="col-sm-12">
                              <h4 style="color:#00b1b1;">Prasad Shankar Huddedar </h4></span>
                              <span><p>Aspirant</p></span>            
                            </div>

                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">


                            <div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6 ">Prasad</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Middle Name:</div><div class="col-sm-7"> Shankar</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7"> Huddedar</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital " >Emp Code:</div><div class="col-sm-7"> Huddedar</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital" >Official Email Id:</div><div class="col-sm-7"> Huddedar</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital" >Personal Email Id:</div><div class="col-sm-7"> Huddedar</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>


                            <div class="col-sm-5 col-xs-6 tital" >Gender:</div><div class="col-sm-7"> Huddedar</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital">Date Of Joining:</div><div class="col-sm-7">15 Jun 2016</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital" >Date Of Birth:</div><div class="col-sm-7">11 Jun 1998</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital">Present Address:</div><div class="col-sm-7">11 Jun 1998</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital">Permanent Address:</div><div class="col-sm-7">11 Jun 1998</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital">Manager Name:</div><div class="col-sm-7">11 Jun 1998</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital">Role Type:</div><div class="col-sm-7">11 Jun 1998</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital">Department:</div><div class="col-sm-7">11 Jun 1998</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital">Company:</div><div class="col-sm-7">11 Jun 1998</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital">Bank Name:</div><div class="col-sm-7">11 Jun 1998</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital">Bank Account No:</div><div class="col-sm-7">11 Jun 1998</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital">IFSC:</div><div class="col-sm-7">11 Jun 1998</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital">Primary Phone:</div><div class="col-sm-7">11 Jun 1998</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital">Secondary Phone:</div><div class="col-sm-7">11 Jun 1998</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital">Blood Group:</div><div class="col-sm-7">11 Jun 1998</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            
                        </div>

                    </div>
                </div> 
            </div>

        </div>
    </div>
</div> -->

<div ng-if="vm.formSubmitted" class="alert alert-success" role="alert" width="100%">
  Registration successful
</div>
<div ng-if="vm.formSubmitted==false && vm.messageEmail == ''" class="alert alert-danger" role="alert" width="100%">
 Unable to process your request. Please retry or contact system admin
</div>
<div ng-if="vm.formSubmitted==false && vm.message != undefined && vm.message !=''" class="alert alert-danger" role="alert" width="100%">
 {{vm.message}}
</div>

<div class="content-section" id="topElm">
    <div class="container-fluid">
    <div  style="text-align:center;" ng-if="vm.messageEmail != ''  && registrationForm.$submitted" class="reqErr">{{vm.messageEmail}}</div>
        <div class="registration-page">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="dataTable-heading">Profile Page</h3>
                  <!--   <div class="col-md-10 col-md-offset-1">
                        <div ng-if="vm.isEdit != null && vm.user=='ADMIN'"  class="mb-15">
                            <input type="checkbox" ng-model="vm.isEdit" class="">
                            <label for="checkbox" class="checkbox-custom-label">Edit</label>
                        </div>
                    </div> -->
                    <div class="col-md-10 col-md-offset-1">
                        
                        <form  name="registrationForm" validform novalidate>
                         <fieldset ng-disabled="vm.isEdit==false">
                        
                        
                        <div class="row form-group mb-25">
                            <div class="col-sm-4">
                                 <label>First Name <span style="color:red;">*</span></label>
                           
                                <input ng-class="{'highlightErr': (registrationForm.FirstName.$error.required
                                || registrationForm.FirstName.$error.pattern) 
                                    && registrationForm.$submitted}" class="form-control" name="FirstName" ng-keypress=" vm.keyPressed($event,'^[a-zA-Z]+$')" ng-model="vm.registrationData.firstName" placeholder="Enter First Name" required>
                            </div>
                            <div class="col-sm-4">
                                   <label>Middle Name</label>
                                <input type="text" class="form-control" name="MiddleName" ng-keypress=" vm.keyPressed($event,'^[a-zA-Z]+$')"  ng-model="vm.registrationData.middleName" placeholder="Enter Middle Name">
                            </div>
                            <div class="col-sm-4">
                                      <label>Last Name <span style="color:red;">*</span><!-- <span ng-show="registrationForm.LastName.$error.required  && registrationForm.$submitted" class="reqErr"> Last Name is required</span> --></label>
                                <input type="text" ng-class="{'highlightErr': registrationForm.LastName.$error.required 
                                    && registrationForm.$submitted}" class="form-control" ng-keypress=" vm.keyPressed($event,'^[a-zA-Z]+$')"  name="LastName" ng-model="vm.registrationData.lastName" placeholder="Enter Last Name" required>
                            </div>
                        </div>

                          <div class="row form-group mb-25">
                                 <div class="col-sm-4">
                                       <label>Emp Code<span style="color:red;">*</span></label>
                                       <input type="text" ng-class="{'highlightErr': registrationForm.empCode.$error.required
                                        && registrationForm.$submitted }" class="form-control" name="empCode"  ng-model="vm.registrationData.empCode" placeholder="Enter Emp Code" ng-keypress=" vm.keyPressed($event,'^[a-zA-Z0-9]+$')" maxlength ="10" required>
                                 </div>

                                 <div class="col-sm-4">
                                       <label>Official Email Id<span style="color:red;">*</span><!-- <span ng-show="registrationForm.emailOfficial.$error.required
                                         && registrationForm.$submitted" class="reqErr"> Official Email is required</span> -->
                                       <span ng-show="(!registrationForm.emailOfficial.$error.required && registrationForm.emailOfficial.$error.pattern && blur1)" class="reqErr">Please enter proper email</span></label>

                                    <input type="text" ng-class="{'highlightErr': (registrationForm.emailOfficial.$error.required||registrationForm.emailOfficial.$error.pattern)
                                     && registrationForm.$submitted }" class="form-control" name="emailOfficial" ng-blur="blur1=true" ng-focus="blur1=false" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" ng-model="vm.registrationData.officialEmail" placeholder="Enter Official Email Address" ng-change="" required>
                                 </div>
                                       

                               <!-- <div class="col-sm-4">
                                        <label>Personal Email Id
                                        <span ng-show="(!registrationForm.emailPersonal.$error.required && registrationForm.emailPersonal.$error.pattern && blur2)" class="reqErr">Please enter proper email</span></label>
                                        <input type="text" class="form-control" name="emailPersonal" ng-model="vm.registrationData.personalEmail" ng-blur="blur2=true" ng-focus="blur2=false"  ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]*\.([a-zA-Z]{2,4})$/" placeholder="Enter Personal Email Address" >
                                </div> -->
                                <div class="col-sm-4">
                                        <label>Personal Email Id
                                        <span ng-show="(registrationForm.emailPersonal.$error.pattern && blur2)" class="reqErr">Please enter proper email</span></label>
                                        <input type="text" class="form-control" name="emailPersonal" ng-model="vm.registrationData.personalEmail" ng-blur="blur2=true" ng-focus="blur2=false"  ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" placeholder="Enter Personal Email Address" >
                                </div>
                          </div>
                             <div  ng-if="vm.isEdit == null" class="row form-group mb-25">
                                 <div class="col-sm-4">
                                         <label>Password <span style="color:red;">*</span><span class="reqErr"> <!-- <p ng-show="registrationForm.password.$error.required  && registrationForm.$submitted" class="error"> Password is required</p> -->
                                        <!--  <p ng-show="registrationForm.password.$error.minlength && registrationForm.$submitted" class="error">
                                          Passwords must be between 8 and 20 characters.</p>
                                        <p ng-show="registrationForm.password.$error.pattern && registrationForm.$submitted" class="error">
                                          Must contain one lower and one uppercase letter</p> -->
                                         </span></label>
                                         
                                        <input  ng-class="{'highlightErr': (registrationForm.password.$error.minlength 
                                    || registrationForm.password.$error.pattern || registrationForm.password.$error.required)
                                    && registrationForm.$submitted}" class="form-control" type="password" id="password" name="password" ng-model="vm.registrationData.password" ng-minlength="8" maxlength ="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])/" placeholder="Enter Password" minlen="registrationForm.password.$error.minlength" pattern="registrationForm.password.$error.pattern" ng-tooltip  required>
                                     <div id="tooltipcontent"></div>
                                 </div>
                                  <div ng-if="vm.isEdit == null" class="col-sm-4">
                                        <label>Repeat Password <span style="color:red;">*</span><!-- <span ng-show="registrationForm.confirmPass.$error.required  && registrationForm.$submitted" class="reqErr"> Confirm the password</span> --></label>
                                          <p ng-show="!registrationForm.password.$error.required &&!registrationForm.password.$error.minlength && 
                                        !registrationForm.password.$error.pattern && registrationForm.password_c.$error.noMatch
                                       && registrationForm.$submitted" class="reqErr">Passwords do not match.</p>
                                           <input  ng-class="{'highlightErr': registrationForm.password_c.$error.required 
                                    && registrationForm.$submitted}" class="form-control" type="password" id="password_c" name="password_c" ng-model="vm.registrationData.repeatPassword"  valid-password-c="vm.registrationData.password" placeholder="Confirm Password" required />
                                 </div>
                              </div>

                                <div class="row form-group mb-25">
                                    <div class="col-sm-4">
                                        <label>Father's Name</label>
                                        <input type="text" class="form-control" name="fatherName" ng-model="vm.registrationData.fatherName" placeholder="Enter FatherName">
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Gender </label>
                                        <select class="form-control" id="sel1" name="gender" ng-model="vm.registrationData.gender" >
                                            <option value="Female">Female</option>
                                            <option value="Male" selected>Male</option>
                                        </select>
                                    </div>
                                   <div class="col-sm-4">
                                        <label>Date of Birth<span style="color:red;">*</span><!-- <span ng-show="registrationForm.dob.$error.required  && registrationForm.$submitted" class="reqErr"> Date Of Birth is required</span> --></label>
                                <!-- <datepicker> -->
                                    <input ng-model="vm.registrationData.dob" name="dob" type="text"  ng-class="{'highlightErr': registrationForm.dob.$error.required 
                                    && registrationForm.$submitted}" class="form-control" ng-change="dateChanged(vm.registrationData.dob)" is-registration-account="true" datepicker="" placeholder="Enter Date of Birth" readonly="readonly" required />
                                <!-- </datepicker>                                 -->
                                   </div>
                                 </div>

                                  <div class="row form-group mb-25">
                                 <div class="col-sm-6">
                                           <label>Present address <span style="color:red;">*</span><!-- <span ng-show="registrationForm.presentAddress.$error.required
                                            && registrationForm.$submitted" class="reqErr"> Present address is required</span> --></label>
                                             <textarea ng-class="{'highlightErr': registrationForm.presentAddress.$error.required 
                                    && registrationForm.$submitted}" class="form-control textarea-style" rows="3" name="presentAddress" id="comment" ng-model="vm.registrationData.presentAddress" maxlength="300" placeholder="Enter Present Address" required></textarea>
                                 </div>
                                  <div class="col-sm-6">
                                        <label>Permanent address <span style="color:red;">*</span><!-- <span ng-show="registrationForm.permanentAddr.$error.required
                                         && registrationForm.$submitted" class="reqErr"> Permanent address is required</span> --></label>
                                         <textarea ng-class="{'highlightErr': registrationForm.permanentAddr.$error.required 
                                    && registrationForm.$submitted}" class="form-control textarea-style" rows="3" id="comment" name="permanentAddr" ng-model="vm.registrationData.permanentAddress" maxlength="300" placeholder="Enter Permanent Address"  required></textarea>
                                 </div>
                                 </div>


                            <div class="row form-group mb-25">
                                 <div class="col-sm-4">
                                     <label>Date of joining<span style="color:red;">*</span><!-- <span ng-show="registrationForm.joiningDate.$error.required
                                 && registrationForm.$submitted" class="reqErr">Joining date is required</span> --></label>
                                    <input ng-class="{'highlightErr': registrationForm.joiningDate.$error.required 
                                    && registrationForm.$submitted}" ng-model="vm.registrationData.joiningDate"  datepicker="" ng-change="dateChanged(vm.registrationData.joiningDate)"
                                    name="joiningDate" is-registration-account="true"  type="text" class="form-control" placeholder="Enter Date of joining" readonly="readonly" required/>
                                 </div>
                                  <div class="col-sm-4">
                                        <label>Role Type</label>
                                 <!-- ng-model="vm.registrationData.roleId" -->
                                <select  class="form-control" id="sel1" ng-model="vm.registrationData.roleId" ng-options="role.roleId as role.roleName for role in vm.roles | orderBy:'roleName' " name="role" ng-change="vm.dropDownChanged('role', 'roleId', 'roles')" required></select>
                                 </div>
                                 <div class="col-sm-4">
                                        <label>Manager Name<span style="color:red;">*</span><!-- <span ng-show="registrationForm.managername.$error.required
                                 && registrationForm.$submitted" class="reqErr"> Joining date is required</span> -->
                                 <span ng-show="vm.managerErr != ''" class="reqErr">{{vm.managerErr}}</span></label>
                                            <div class="mydata">
                                                <input ng-class="{'highlightErr': registrationForm.managername.$error.required 
                                                && registrationForm.$submitted}" max="2" type="text" name="managername" list="managername" ng-model="vm.manager" class="form-control" ng-change="vm.mangerChanged(vm.manager)" placeholder="Enter Manager Name" required>
                                                <datalist id="managername">
                                                    <!--<option value="{{x}}" ng-repeat="x in vm.managersName | filter:vm.manager" ng-if="vm.manager && vm.manager != x">-->
                                                    <option value="{{x}}" ng-repeat="x in vm.managersName track by $index" ng-if="vm.manager && vm.manager != x">
                                                </datalist>
                                            </div>
                                 </div>
                            </div>
                          
                           <div class="row form-group mb-25">
                                 <div class="col-sm-4">
                                         <label>Designation</label>
                            
                                         <select class="form-control" id="sel1" ng-model="vm.registrationData.designationId" ng-options="desgn.designationId as desgn.designation for desgn in vm.designations| orderBy: 'designation' " ng-change="vm.dropDownChanged('designation', 'designationId', 'designations')" >
                                         </select>
                                 </div>
                                  <div class="col-sm-4">
                                        <label>Department</label>
                                        <!-- ng-model="vm.registrationData.deptId" -->
                                        <select class="form-control" id="sel1" ng-model="vm.registrationData.deptId" ng-options="dept.deptId as dept.deptName for dept in vm.departments | orderBy :'deptName' " name="department" ng-change="vm.dropDownChanged('department', 'deptId', 'departments')">
                                          </select>
                                 </div>
                                  <div class="col-sm-4">
                                          <label>Company</label>
                                <!-- ng-model="vm.registrationData.companyId" -->
                                         <select class="form-control" id="sel1" ng-disabled="vm.isEdit != null" ng-model="vm.registrationData.companyId" ng-options="comp.companyId as comp.companyName for comp in vm.companyList | orderBy : 'companyName' " name="company" ng-change="vm.dropDownChanged('company', 'companyId', 'companyList')" >
                                          </select>
                                 </div>
                            </div>
                           

                            <div class="row form-group mb-25">
                                 <div class="col-sm-4">
                                        <label>Bank Name<span style="color:red;">*</span></label>
                                      <input type="text" ng-class="{'highlightErr': (registrationForm.bankName.$error.required ||registrationForm.bankName.$error.pattern)
                                    && registrationForm.$submitted}" ng-keypress=" vm.keyPressed($event,'^[a-zA-Z]+$')" class="form-control" ng-model="vm.registrationData.bankName" name="bankName" placeholder="Enter Bank Name" required>
                                 </div>
                                 <div class="col-sm-4">
                                        <label>Bank Account No<span style="color:red;">*</span></label>
                                        <input type="text" ng-class="{'highlightErr': registrationForm.accNumber.$error.required 
                                    && registrationForm.$submitted}" class="form-control" ng-keypress="vm.keyPressed($event,'^[0-9]+$')" maxlength="20" ng-model="vm.registrationData.bankAccountNumber" name="accNumber"  placeholder="Enter BankAccount"   required>
                                 </div>
                                  <div class="col-sm-4">
                                        <label>IFSC<span style="color:red;">*</span></label>
                                        <input type="text"  ng-class="{'highlightErr': registrationForm.ifsc.$error.required
                                    && registrationForm.$submitted}" class="form-control" ng-keypress=" vm.keyPressed($event,'^[a-zA-Z0-9]+$')" ng-model="vm.registrationData.bankIfsc" name="ifsc"  placeholder="Enter BankAccount " maxlength ="20" required>
                                 </div>
                            </div>

                             <div class="row form-group mb-25">
                                 <div class="col-sm-4">
                                      <label>Primary Phone<span style="color:red;">*</span></label>
                                      <input ng-class="{'highlightErr': registrationForm.primPhone.$error.required 
                                    && registrationForm.$submitted}" type="text" ng-keypress="vm.keyPressed($event,'^[0-9]+$')" class="form-control" ng-model="vm.registrationData.primaryPhone" name="primPhone"  placeholder="Enter Primary Phone" maxlength ="10" required>
                                 </div>
                                  <div class="col-sm-4">
                                        <label>Secondary Phone<span style="color:red;">*</span></label>
                                        <input ng-class="{'highlightErr': registrationForm.secPhone.$error.required 
                                    && registrationForm.$submitted}" type="text" ng-keypress="vm.keyPressed($event,'^[0-9]+$')" class="form-control" ng-model="vm.registrationData.secondaryPhone" name="secPhone" placeholder="Enter Secondary Phone" maxlength ="10" required>
                                 </div>
                                  <!-- <div class="col-sm-4">
                                        <label>Nationality<span style="color:red;">*</span></label>
                                        <input ng-class="{'highlightErr': registrationForm.secPhone.$error.required 
                                    && registrationForm.$submitted}" type="text" ng-keypress="vm.keyPressed($event,'^[0-9]+$')" class="form-control" ng-model="vm.registrationData.secondaryPhone" name="secPhone" placeholder="Enter Secondary Phone" maxlength ="10" required>
                                 </div> -->
                             </div>
                            

                             <div class="row form-group mb-25">
                                    <div class="col-sm-4">
                                        <label>Location:</label>
                                        <input type="text" class="form-control" ng-keypress="vm.keyPressed($event,'^[a-zA-Z]$')" ng-model="vm.registrationData.location" name="loaction" placeholder="Enter Location">
                                    </div>

                                    <div class="col-sm-4">
                                         <label>Blood Group <!-- <span ng-show="registrationForm.bloodG.$error.required  && registrationForm.$submitted" class="reqErr"> Blood Group is required</span> --></label>
                                          <select type="text" class="form-control" ng-model="vm.registrationData.bloodGroup" name="bloodG" placeholder="Enter Blood Group">
                                            <option value="" disabled selected>Select Your Blood Group</option>
                                            <option value="A+" selected>A+</option>
                                            <option value="A-" selected>A-</option>
                                            <option value="B+" selected>B+</option>
                                            <option value="B-" selected>B-</option>
                                            <option value="AB+" selected>AB+</option>
                                            <option value="AB-" selected>AB-</option>
                                            <option value="O+" selected>O+</option>
                                            <option value="O-" selected>O-</option>
                                          </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Marital Status<span style="color:red;">*</span></label>
                                        <select class="form-control" id="sel1" name="maritalStatus" ng-model="vm.registrationData.maritalStatus">
                                            <option value="Single">Single</option>
                                            <option value="Married">Married</option>
                                            <option value="Divorced">Divorced</option>
                                        </select>
                                    </div>
                            </div>

                            <div class="row form-group mb-25">
                                <div class="col-sm-4">
                                         <label>Aadhar Card Number</label>
                                        <input type="text" only-digits ng-class="{'highlightErr': registrationForm.adharCard.$error.required 
                                    && registrationForm.$submitted}" class="form-control" ng-model="vm.registrationData.aadhar" name="adharCard" placeholder="Enter Aadhar Card Number" maxlength ="20">
                                </div>
                                <div class="col-sm-4">
                                         <label>UAN Number</label>
                                          <input type="text" only-digits class="form-control" ng-model="vm.registrationData.uanNumber" name="uan" placeholder="Enter UAN Number" maxlength ="20">
                                </div>
                                <div class="col-sm-4">
                                          <label>Pan Card Number<!-- <span ng-show="registrationForm.panCard.$error.required  && registrationForm.$submitted" class="reqErr"> Pan Card Number is required</span> --></label>
                                         <input type="text"  class="form-control" ng-model="vm.registrationData.panNumber" name="panCard" placeholder="Enter Pan Card Number" maxlength ="12" >
                                </div>
                            </div>

                            <div class="row form-group mb-25">

                                <div class="col-sm-4">
                                    <label>Nationality<span class="mandatory">*</span></label>
                                    <input type="text" ng-class="{'highlightErr': registrationForm.nationality.$error.required 
                                    && registrationForm.$submitted}" class="form-control" ng-model="vm.registrationData.nationality" name="nationality" placeholder="Enter Nationality" required>
                                </div>
                                <div class="col-sm-4">
                                    <label>Religion<span class="mandatory">*</span></label>
                                    <input type="text" ng-class="{'highlightErr': registrationForm.religion.$error.required 
                                    && registrationForm.$submitted}" class="form-control" ng-model="vm.registrationData.religion" name="religion" placeholder="Enter Religion" required>
                                </div>
                                <div class="col-sm-4">
                                    <label>Hobbies</label>
                                    <input type="text"  class="form-control" ng-model="vm.registrationData.hobbies" name="hobbies" placeholder="Enter hobbies">
                                </div>

                            </div>


                            <div class="row form-group mb-25" ng-if="vm.isEdit !=null && vm.isEdit == false && vm.registrationData.resignationDate!=null">

                                <div class="col-sm-4">
                                    <label>Resignation Date </label>
                                    <input type="text" class="form-control" ng-model="vm.registrationData.resignationDate" name="resignationDate">
                                </div>
                                <div class="col-sm-4">
                                    <label>Resignation Reason</label>
                                    <input type="text"  class="form-control" ng-model="vm.registrationData.resignationReason" name="resignationReason">
                                </div>

                            </div>


                            </fieldset>
                             <div class="row form-group mb-25 alignCenter">
                                <button ng-if="vm.isEdit == null" type="submit" class="btn primary-btn  mr-10" ng-click="vm.managerErr=='' && registrationForm.$valid && vm.registerEmployee();">Create</button>
                                <!--<button ng-if="vm.isEdit==true" type="submit" class="btn primary-btn width-70 mr-10" ng-click="vm.managerErr=='' && registrationForm.$valid && vm.editEmployee()" ng-disabled="registrationForm.$pristine">Update</button>-->
                                <button ng-if="vm.isEdit==true" type="submit" class="btn primary-btn  mr-10" ng-click="vm.managerErr=='' && registrationForm.$valid && vm.editEmployee()">Update</button>
                                 <button type="button" class="btn primary-btn " style="opacity: 1 !important;cursor: pointer !important;" ng-click="vm.goToPreviousPage()">Cancel</button>

                                <button type="button" ng-if="vm.isEdit !=null && vm.isEdit == false" class="btn primary-btn  enableEdit" style="opacity: 1 !important;cursor: pointer !important;" ng-click="vm.isEdit = !vm.isEdit">Edit&nbsp;</button>

                            </div>
                           </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /.container-fluid -->