<toaster-container></toaster-container>
<div class="content-section" id="topElm">
    <div class="container-fluid">

        <div class="registration-page">
            <div class="row">
                <div class="col-md-12">
                    <h3 ng-if="vm.mode === '' " class="dataTable-heading">Employee Registration</h3>
                    <h3 ng-if="vm.mode === 'empV' " class="dataTable-heading">Profile Page</h3>
                    <div ng-if="(vm.managerErr !== '' || !registrationForm.$valid ) && registrationForm.$submitted"
                        class="reqErr ">
                        <h4>Please fill all mandatory fields</h4>
                    </div>


                    <form name="registrationForm" validform novalidate>

                        <fieldset ng-disabled="vm.isEdit === false ||  vm.isUserEdit === true">

                            <div class="inner-page-box mb-20">
                                <div class='inner-page-header'>
                                    <h4><span>PERSONAL DETAIL</span></h4>
                                </div>

                                <div class="inner-page-content">

                                    <div class="row form-group mb-25">

                                        <div class="col-sm-3">
                                            <label>Emp Code<span style="color:red;">*</span>
                                                <!--  <span ng-show="registrationForm.empCode.$error.required && registrationForm.$submitted" class="reqErr">Emp Code is required</span> -->

                                                <!-- <span ng-show="registrationForm.empCode.$error.required && (registrationForm.empCode.$dirty || registrationForm.$submitted)" class="reqErr">Emp Code is required</span> -->
                                            </label>

                                            <input type="text" ng-class="{'highlightErr': registrationForm.empCode.$error.required
                                            && (registrationForm.$submitted) }"
                                                ng-disabled="vm.isUserNotEditableField === true" class="form-control"
                                                name="empCode" ng-model="vm.registrationData.empCode"
                                                placeholder="Enter Emp Code" input-field-formatter
                                                input-regex='[^a-zA-Z0-9]+$' ng-trim="false" maxlength="10" required>

                                        </div>

                                        <div class="col-sm-3">
                                            <label>First Name <span style="color:red;">*</span>
                                                <!-- <span ng-show="registrationForm.FirstName.$error.required && registrationForm.$submitted" class="reqErr">First Name is required</span> -->

                                                <!--   <span ng-show="registrationForm.FirstName.$error.required && (registrationForm.FirstName.$dirty ||registrationForm.$submitted)" class="reqErr">First Name is required</span> -->
                                            </label>

                                            <input ng-class="{'highlightErr':registrationForm.FirstName.$error.required && 
                                            (registrationForm.$submitted)}"
                                                ng-disabled="vm.isUserNotEditableField === true" class="form-control"
                                                name="FirstName" ng-model="vm.registrationData.firstName"
                                                ng-trim="false" input-field-formatter input-regex='[^a-zA-Z]+$'
                                                placeholder="Enter First Name" required>

                                        </div>

                                        <div class="col-sm-3">
                                            <label>Middle Name</label>

                                            <input type="text" class="form-control"
                                                ng-disabled="vm.isUserNotEditableField === true" name="MiddleName"
                                                input-field-formatter input-regex='[^a-zA-Z]+$' ng-trim="false"
                                                ng-model="vm.registrationData.middleName"
                                                placeholder="Enter Middle Name">

                                        </div>

                                        <div class="col-sm-3">
                                            <label>Last Name <span style="color:red;">*</span>
                                                <!-- <span ng-show="registrationForm.LastName.$error.required && registrationForm.$submitted" ng-trim="false" class="reqErr">Last Name is required</span> -->

                                                <!-- <span ng-show="registrationForm.LastName.$error.required && (registrationForm.LastName.$dirty || registrationForm.$submitted)" ng-trim="false" class="reqErr">Last Name is required</span> -->
                                            </label>

                                            <input type="text" ng-class="{'highlightErr': registrationForm.LastName.$error.required 
                                            && (registrationForm.$submitted)}" class="form-control"
                                                ng-disabled="vm.isUserNotEditableField === true" input-field-formatter
                                                input-regex='[^a-zA-Z]+$' name="LastName"
                                                ng-model="vm.registrationData.lastName" placeholder="Enter Last Name"
                                                required>

                                        </div>

                                    </div>

                                    <div class="row form-group mb-25">

                                        <div class="col-sm-3">
                                            <label>Father's Name</label>
                                            <input type="text" class="form-control" name="fatherName"
                                                ng-disabled="vm.isUserNotEditableField === true"
                                                ng-model="vm.registrationData.fatherName"
                                                placeholder="Enter Father Name" ng-trim="false" input-field-formatter
                                                input-regex='[^a-zA-Z ]+$'>
                                        </div>

                                        <div class="col-sm-3">
                                            <label>Date of Birth<span style="color:red;">*</span>
                                                <!-- <span ng-show="registrationForm.dob.$error.required  && registrationForm.$submitted" class="reqErr">Date Of Birth is required</span> -->

                                                <!-- <span ng-show="registrationForm.dob.$error.required  && (registrationForm.$submitted || registrationForm.dob.$dirty)" class="reqErr">Date Of Birth is required</span> -->
                                            </label>

                                            <!-- <datepicker> -->
                                            <input ng-model="vm.registrationData.dob"
                                                ng-disabled="vm.isUserNotEditableField === true" name="dob" type="text"
                                                ng-class="{'highlightErr': registrationForm.dob.$error.required 
                                            && (registrationForm.$submitted)}" class="form-control"
                                                ng-change="dateChanged(vm.registrationData.dob)"
                                                is-registration-account="true" datepicker=""
                                                placeholder="Enter Date of Birth" readonly="readonly" required />
                                            <!-- </datepicker> -->
                                        </div>


                                        <div class="col-sm-3">
                                            <label>Gender </label>

                                            <select class="form-control" id="sel1"
                                                ng-disabled="vm.isUserNotEditableField === true" name="gender"
                                                ng-model="vm.registrationData.gender">
                                                <option value="Female">Female</option>
                                                <option value="Male" selected>Male</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-3">
                                            <label>Marital Status</label>
                                            <select class="form-control" id="sel1" name="maritalStatus"
                                                ng-model="vm.registrationData.maritalStatus">
                                                <option value="Single">Single</option>
                                                <option value="Married">Married</option>
                                                <option value="Divorced">Divorced</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="row form-group mb-25">


                                        <div class="col-sm-3">
                                            <label>Primary Phone<span style="color:red;">*</span>
                                                <!--  <span ng-show="registrationForm.primPhone.$error.required
                                                && registrationForm.$submitted " class="reqErr">Primary Phone is required</span> -->
                                                <span
                                                    ng-show="!registrationForm.primPhone.$error.required && registrationForm.primPhone.$error.pattern && registrationForm.$submitted"
                                                    class="reqErr">Please enter proper mobile number</span>
                                                <!-- <span ng-show="registrationForm.primPhone.$error.required
                                                && (registrationForm.$submitted ||registrationForm.primPhone.$dirty)" class="reqErr">Primary Phone is required</span> -->
                                            </label>

                                            <input ng-class="{'highlightErr': registrationForm.primPhone.$error.required 
                                            && (registrationForm.$submitted && registrationForm.primPhone.$valid)}"
                                                type="text" ng-pattern='/[0-9]{10}$/' ng-trim="false"
                                                class="form-control" ng-model="vm.registrationData.primaryPhone"
                                                name="primPhone" placeholder="Enter Primary Phone" maxlength="10"
                                                required>
                                        </div>

                                        <div class="col-sm-3">
                                            <label>Secondary Phone<span style="color:red;">*</span>
                                                <!--  <span ng-show="registrationForm.secPhone.$error.required
                                                && registrationForm.$submitted " class="reqErr">Secondary Phone is required</span> -->
                                                <span
                                                    ng-show="!registrationForm.secPhone.$error.required && registrationForm.secPhone.$error.pattern && registrationForm.$submitted"
                                                    class="reqErr">Please enter proper mobile number</span>

                                                <!--  <span ng-show="registrationForm.secPhone.$error.required
                                                && (registrationForm.$submitted ||registrationForm.secPhone.$dirty)" class="reqErr">Secondary Phone is required</span> -->
                                            </label>

                                            <input ng-class="{'highlightErr': registrationForm.secPhone.$error.required 
                                            && (registrationForm.$submitted)}" type="text" ng-pattern='/[0-9]{10}$/'
                                                class="form-control" ng-trim="false"
                                                ng-model="vm.registrationData.secondaryPhone" name="secPhone"
                                                placeholder="Enter Secondary Phone" maxlength="10" required>
                                        </div>

                                        <div class="col-sm-3">
                                            <label>Religion<span class="mandatory">*</span>
                                                <!-- <span ng-show="registrationForm.religion.$error.required
                                                && registrationForm.$submitted" class="reqErr">Religion is required</span>
 -->
                                                <!-- <span ng-show="registrationForm.religion.$error.required
                                                && (registrationForm.$submitted ||registrationForm.religion.$dirty)" class="reqErr">Religion is required</span> -->
                                            </label>

                                            <input type="text" ng-class="{'highlightErr': registrationForm.religion.$error.required 
                                            && (registrationForm.$submitted) }" class="form-control"
                                                ng-model="vm.registrationData.religion" name="religion"
                                                placeholder="Enter Religion"
                                                ng-disabled="vm.isUserNotEditableField === true" ng-trim="false"
                                                input-field-formatter input-regex='[^A-Za-z]+$' required>
                                        </div>

                                        <div class="col-sm-3">
                                            <label>Blood Group</label>

                                            <select type="text" class="form-control"
                                                ng-disabled="vm.isUserNotEditableField === true"
                                                ng-model="vm.registrationData.bloodGroup" name="bloodG"
                                                placeholder="Enter Blood Group">
                                                <option value="" disabled selected>Select Your Blood Group</option>
                                                <option value="A+" selected>A+</option>
                                                <option value="A-" selected>A-</option>
                                                <option value="B+" selected>B+</option>
                                                <option value="B-" selected>B-</option>
                                                <option value="AB+" selected>AB+</option>
                                                <option value="AB-" selected>AB-</option>
                                                <option value="O+" selected>O+</option>
                                                <option value="O-" selected>O-</option>
                                            </select>
                                        </div>

                                    </div>


                                    <div class="row form-group mb-25">

                                        <div class="col-sm-6">
                                            <label>Present address <span style="color:red;">*</span>
                                                <!-- <span ng-show="registrationForm.presentAddress.$error.required
                                                && registrationForm.$submitted " class="reqErr">Present address is required</span> -->

                                                <!--  <span ng-show="registrationForm.presentAddress.$error.required
                                                && (registrationForm.$submitted ||registrationForm.presentAddress.$dirty)" class="reqErr">Present address is required</span> -->
                                            </label>

                                            <textarea ng-class="{'highlightErr': registrationForm.presentAddress.$error.required 
                                            && (registrationForm.$submitted)}" class="form-control textarea-style"
                                                rows="3" name="presentAddress" id="comment"
                                                ng-model="vm.registrationData.presentAddress" maxlength="300"
                                                placeholder="Enter Present Address" required></textarea>
                                        </div>

                                        <div class="col-sm-6">
                                            <label>Permanent address <span style="color:red;">*</span>
                                                <!--  <span ng-show="registrationForm.permanentAddr.$error.required
                                                && registrationForm.$submitted" class="reqErr"> Permanent address is required</span> -->

                                                <!-- <span ng-show="registrationForm.permanentAddr.$error.required
                                                && (registrationForm.$submitted || registrationForm.permanentAddr.$dirty)" class="reqErr"> Permanent address is required</span> -->
                                            </label>

                                            <textarea ng-class="{'highlightErr': registrationForm.permanentAddr.$error.required 
                                            && (registrationForm.$submitted)}"
                                                ng-disabled="vm.isUserNotEditableField === true"
                                                class="form-control textarea-style" rows="3" id="comment"
                                                name="permanentAddr" ng-model="vm.registrationData.permanentAddress"
                                                maxlength="300" placeholder="Enter Permanent Address"
                                                required></textarea>
                                        </div>

                                    </div>

                                    <div class="row form-group mb-25">

                                        <div class="col-sm-4">
                                            <label>Hobbies</label>

                                            <input type="text" class="form-control"
                                                ng-disabled="vm.isUserNotEditableField === true"
                                                ng-model="vm.registrationData.hobbies" name="hobbies" ng-trim="false"
                                                input-field-formatter input-regex='[^A-Za-z, ]+$'
                                                placeholder="Enter hobbies">
                                        </div>

                                        <div class="col-sm-4" ng-if="(vm.isEdit == null && vm.isUserEdit === null)">
                                            <label>Password <span style="color:red;">*</span>
                                                <!-- <span ng-show="registrationForm.password.$error.required  && registrationForm.$submitted " class="reqErr">Password is required</span> -->

                                                <!-- <span ng-show="registrationForm.password.$error.required  && (registrationForm.$submitted || registrationForm.password.$dirty)" class="reqErr">Password is required</span> -->

                                                <span
                                                    ng-show="(!registrationForm.password.$error.required && !registrationForm.password.$error.pattern && registrationForm.password.$error.minlength && registrationForm.$submitted )"
                                                    class="reqErr">Passwords must be between 8 and 20 characters.</span>

                                                <!-- <span ng-show="!registrationForm.password.$error.pattern && registrationForm.password.$error.minlength && (registrationForm.$submitted ||registrationForm.password.$dirty) " class="reqErr">Passwords must be between 8 and 20 characters.</span> -->

                                                <span
                                                    ng-show="(!registrationForm.password.$error.required && registrationForm.password.$error.pattern && registrationForm.$submitted )"
                                                    class="reqErr">Must contain one lower and one uppercase
                                                    letter</span>

                                                <!-- <span ng-show="registrationForm.password.$error.pattern && (registrationForm.$submitted || registrationForm.password.$dirty)" class="reqErr">Must contain one lower and one uppercase letter</span> -->

                                            </label>

                                            <input ng-class="{'highlightErr': (registrationForm.password.$error.minlength 
                                            || registrationForm.password.$error.pattern || registrationForm.password.$error.required)
                                            && (registrationForm.$submitted)}" class="form-control" type="password"
                                                id="password" name="password" ng-model="vm.registrationData.password"
                                                ng-minlength="8" maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])/"
                                                placeholder="Enter Password"
                                                minlen="registrationForm.password.$error.minlength"
                                                pattern="registrationForm.password.$error.pattern" ng-tooltip required>

                                            <div id="tooltipcontent"></div>
                                        </div>

                                        <div ng-if="(vm.isEdit == null && vm.isUserEdit === null)" class="col-sm-4">
                                            <label>Repeat Password <span style="color:red;">*</span>

                                                <!--  <span ng-show="registrationForm.password_c.$error.required  && registrationForm.$submitted" class="reqErr">Confirm the password</span> -->

                                                <!-- <span ng-show="registrationForm.password_c.$error.required  && (registrationForm.$submitted || registrationForm.password_c.$dirty)" class="reqErr">Confirm the password</span> -->

                                                <span ng-show="!registrationForm.password_c.$error.required  && !registrationForm.password_c.$error.minlength && !registrationForm.password_c.$error.pattern && registrationForm.password_c.$error.noMatch
                                                && (registrationForm.$submitted ||registrationForm.password_c.$dirty) "
                                                    class="reqErr">Passwords do not match.</span>

                                            </label>

                                            <input ng-class="{'highlightErr': registrationForm.password_c.$error.required 
                                            && (registrationForm.$submitted)}" class="form-control" type="password"
                                                id="password_c" name="password_c"
                                                ng-model="vm.registrationData.repeatPassword"
                                                valid-password-c="vm.registrationData.password"
                                                placeholder="Confirm Password" required />
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="inner-page-box mb-20">
                                <div class='inner-page-header'>
                                    <h4><span>PROFESSIONAL DETAIL</span></h4>
                                </div>

                                <div class="inner-page-content">

                                    <div class="row form-group mb-25">
                                        <div class="col-sm-3">
                                            <label>Company</label>

                                            <select class="form-control" id="sel1"
                                                ng-disabled="vm.isEdit != null || vm.isUserNotEditableField === true"
                                                ng-model="vm.registrationData.companyId"
                                                ng-options="comp.companyId as comp.companyName for comp in vm.companyList | orderBy : 'companyName' "
                                                name="company"
                                                ng-change="vm.dropDownChanged('company', 'companyId', 'companyList')">
                                            </select>
                                        </div>

                                        <div class="col-sm-3">
                                            <label>Date of joining<span style="color:red;">*</span>
                                                <!-- <span ng-show="registrationForm.joiningDate.$error.required
                                                && registrationForm.$submitted " class="reqErr">Joining date is required</span>
 -->
                                                <!--  <span ng-show="registrationForm.joiningDate.$error.required
                                                && (registrationForm.$submitted ||registrationForm.joiningDate.$dirty)" class="reqErr">Joining date is required</span> -->
                                            </label>

                                            <input ng-class="{'highlightErr': registrationForm.joiningDate.$error.required 
                                            && (registrationForm.$submitted)}"
                                                ng-disabled="vm.isUserNotEditableField === true"
                                                ng-model="vm.registrationData.joiningDate" datepicker=""
                                                ng-change="dateChanged(vm.registrationData.joiningDate)"
                                                name="joiningDate" is-registration-account="true" type="text"
                                                class="form-control" placeholder="Enter Date of joining"
                                                readonly="readonly" required />
                                        </div>


                                        <div class="col-sm-3">
                                            <label>Department</label>

                                            <select class="form-control" id="sel1"
                                                ng-disabled="vm.isUserNotEditableField === true"
                                                ng-model="vm.registrationData.deptId"
                                                ng-options="dept.departmentId as dept.departmentName for dept in vm.departments | orderBy :'departmentName' "
                                                name="department"
                                                ng-change="vm.dropDownChanged('department', 'departmentId', 'departments'); vm.departmentChanged(vm.registrationData.deptId , null)">
                                            </select>
                                        </div>

                                        <div class="col-sm-3">
                                            <label>Designation</label>

                                            <select class="form-control" id="sel1"
                                                ng-disabled="vm.isUserNotEditableField === true"
                                                ng-model="vm.registrationData.designationId"
                                                ng-options="desgn.designationId as desgn.designationName for desgn in vm.designations| orderBy: 'designation' "
                                                ng-change="vm.dropDownChanged('designation', 'designationId', 'designations')">
                                            </select>
                                        </div>

                                    </div>

                                    <div class="row form-group mb-25">
                                        <div class="col-sm-3">
                                            <label>Role Type</label>

                                            <select class="form-control" id="sel1"
                                                ng-disabled="vm.isUserNotEditableField === true"
                                                ng-model="vm.registrationData.roleId"
                                                ng-options="role.roleId as role.roleName for role in vm.roles | orderBy:'roleName' "
                                                name="role" ng-change="vm.dropDownChanged('role', 'roleId', 'roles')">
                                            </select>
                                        </div>

                                        <div class="col-sm-3">
                                            <label>Manager Name<span style="color:red;">*</span>

                                                <!-- <span ng-show="registrationForm.managername.$error.required
                                                && registrationForm.$submitted " class="reqErr">Manager Name is required</span>
 -->
                                                <!--  <span ng-show="registrationForm.managername.$error.required
                                                && (registrationForm.$submitted ||registrationForm.managername.$dirty )" class="reqErr">Manager Name is required</span> -->

                                                <span
                                                    ng-show="!registrationForm.managername.$error.required &&  vm.managerErr !== ''"
                                                    class="reqErr">{{vm.managerErr}}</span>

                                            </label>

                                            <div class="mydata">
                                                <input ng-class="{'highlightErr': (registrationForm.managername.$error.required ||  vm.managerErr != '')
                                                && (registrationForm.$submitted)}" max="2" type="text"
                                                    name="managername" list="managername" ng-model="vm.manager"
                                                    class="form-control"
                                                    ng-disabled="vm.isUserNotEditableField === true"
                                                    ng-change="vm.mangerChanged(vm.manager)"
                                                    placeholder="Enter Manager Name" required>
                                                <datalist id="managername">
                                                    <!--<option value="{{x}}" ng-repeat="x in vm.managersName | filter:vm.manager" ng-if="vm.manager && vm.manager != x">-->
                                                    <option value="{{x}}"
                                                        ng-repeat="x in vm.managersName track by $index"
                                                        ng-if="vm.manager && vm.manager != x">
                                                </datalist>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">

                                            <label>Location:</label>

                                            <input type="text" class="form-control"
                                                ng-disabled="vm.isUserNotEditableField === true"
                                                ng-model="vm.registrationData.location" ng-trim="false"
                                                input-field-formatter input-regex='[^A-Za-z ]+$' name="loaction"
                                                placeholder="Enter Location">

                                        </div>

                                        <div class="col-sm-3">
                                            <label>Nationality<span class="mandatory">*</span>
                                                <!-- <span ng-show="registrationForm.nationality.$error.required
                                                && registrationForm.$submitted " class="reqErr">Nationality is required</span> -->

                                                <!-- <span ng-show="registrationForm.nationality.$error.required
                                                && (registrationForm.$submitted ||registrationForm.nationality.$dirty)" class="reqErr">Nationality is required</span> -->
                                            </label>

                                            <input type="text" ng-class="{'highlightErr': registrationForm.nationality.$error.required 
                                            && (registrationForm.$submitted) }" class="form-control"
                                                ng-model="vm.registrationData.nationality" name="nationality"
                                                placeholder="Enter Nationality"
                                                ng-disabled="vm.isUserNotEditableField === true" ng-trim="false"
                                                input-field-formatter input-regex='[^A-Za-z]+$' required>
                                        </div>

                                    </div>

                                    <div class="row form-group mb-25">

                                        <div class="col-sm-6">
                                            <label>Personal Email Id
                                                <span
                                                    ng-show="registrationForm.emailPersonal.$error.pattern && registrationForm.$submitted"
                                                    class="reqErr">Please enter proper email</span>

                                                <!--  <span ng-show="registrationForm.emailPersonal.$error.pattern && (registrationForm.emailPersonal.$dirty || registrationForm.emailPersonal.$submitted)" class="reqErr">Please enter proper email</span> -->
                                            </label>

                                            <input type="text" class="form-control" ng-maxlength="80" ng-class="{'highlightErr': registrationForm.emailPersonal.$error.pattern && (registrationForm.$submitted 
                                            )}" name="emailPersonal" ng-model="vm.registrationData.personalEmail"
                                                ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"
                                                placeholder="Enter Personal Email Id">
                                        </div>

                                        <div class="col-sm-6">
                                            <label>Official Email Id<span style="color:red;">*</span>
                                                <!-- <span ng-show="registrationForm.emailOfficial.$error.required
                                                 && registrationForm.$submitted" class="reqErr">Official Email is required</span> -->

                                                <!-- <span ng-show="registrationForm.emailOfficial.$error.required
                                                 && (registrationForm.emailOfficial.$dirty || registrationForm.$submitted)" class="reqErr">Official Email is required</span> -->

                                                <span
                                                    ng-show="!registrationForm.emailOfficial.$error.required && registrationForm.emailOfficial.$error.pattern && registrationForm.$submitted"
                                                    class="reqErr">Please enter proper email</span>

                                                <!-- <span ng-show="(!registrationForm.emailOfficial.$error.required && registrationForm.emailOfficial.$error.pattern) &&(registrationForm.emailOfficial.$dirty ||registrationForm.emailPersonal.$submitted)" class="reqErr">Please enter proper email</span> -->
                                            </label>

                                            <input type="text" maxlength="80"
                                                ng-class="{'highlightErr': (registrationForm.emailOfficial.$error.required ||registrationForm.emailOfficial.$error.pattern) && (registrationForm.$submitted)}"
                                                class="form-control" ng-disabled="vm.isUserNotEditableField === true"
                                                name="emailOfficial"
                                                ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"
                                                ng-model="vm.registrationData.officialEmail"
                                                placeholder="Enter Official Email Address" required>

                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="inner-page-box mb-20">
                                <div class='inner-page-header'>
                                    <h4><span>FINANCIAL DETAIL</span></h4>
                                </div>

                                <div class="inner-page-content">
                                    <div class="row form-group mb-25">
                                        <div class="col-sm-4">
                                            <label>Bank Name<span style="color:red;">*</span>
                                                <!-- <span ng-show="registrationForm.bankName.$error.required
                                                && registrationForm.$submitted " class="reqErr">Bank Name is required</span> -->

                                                <!-- <span ng-show="registrationForm.bankName.$error.required
                                                && (registrationForm.$submitted ||registrationForm.bankName.$dirty)" class="reqErr">Bank Name is required</span> -->
                                            </label>

                                            <input type="text"
                                                ng-class="{'highlightErr': (registrationForm.bankName.$error.required ||registrationForm.bankName.$error.pattern) && (registrationForm.$submitted)}"
                                                ng-disabled="vm.isUserNotEditableField === true" class="form-control"
                                                ng-model="vm.registrationData.bankName" input-field-formatter
                                                input-regex='[^a-zA-Z ]+$' ng-trim="false" name="bankName"
                                                placeholder="Enter Bank Name" required>

                                        </div>

                                        <div class="col-sm-4">
                                            <label>Bank Account No<span style="color:red;">*</span>
                                                <!-- <span ng-show="registrationForm.accNumber.$error.required
                                                && registrationForm.$submitted " class="reqErr">Bank Account No. is required</span> -->

                                                <!-- <span ng-show="registrationForm.accNumber.$error.required
                                                && (registrationForm.$submitted ||registrationForm.accNumber.$dirty)" class="reqErr">Bank Account No. is required</span> -->
                                            </label>

                                            <input type="text" ng-class="{'highlightErr': registrationForm.accNumber.$error.required 
                                            && (registrationForm.$submitted)}"
                                                ng-disabled="vm.isUserNotEditableField === true" class="form-control"
                                                maxlength="20" ng-model="vm.registrationData.bankAccountNumber"
                                                name="accNumber" placeholder="Enter BankAccount" input-field-formatter
                                                input-regex='[^0-9]' ng-trim="false" required>

                                        </div>

                                        <div class="col-sm-4">
                                            <label>Pan Card Number</label>
                                            <input type="text" class="form-control"
                                                ng-model="vm.registrationData.panNumber" name="panCard"
                                                placeholder="Enter Pan Card Number" input-field-formatter
                                                input-regex='[^A-Za-z0-9]' ng-trim="false"
                                                ng-disabled="vm.isUserNotEditableField === true" maxlength="12">
                                        </div>


                                    </div>

                                    <div class="row form-group mb-25">
                                        <div class="col-sm-4">
                                            <label>Aadhar Card Number</label>

                                            <input type="text" input-field-formatter input-regex='[^0-9]'
                                                ng-disabled="vm.isUserNotEditableField === true" class="form-control"
                                                ng-model="vm.registrationData.aadhar" ng-trim="false" name="adharCard"
                                                placeholder="Enter Aadhar Card Number" maxlength="20">
                                        </div>

                                        <div class="col-sm-4">
                                            <label>UAN Number</label>
                                            <input type="text" input-field-formatter input-regex='[^0-9]'
                                                ng-trim="false" class="form-control"
                                                ng-model="vm.registrationData.uanNumber" name="uan"
                                                placeholder="Enter UAN Number"
                                                ng-disabled="vm.isUserNotEditableField === true" maxlength="20">
                                        </div>

                                        <div class="col-sm-4">
                                            <label>IFSC<span style="color:red;">*</span>
                                                <!--  <span ng-show="registrationForm.ifsc.$error.required
                                                && registrationForm.$submitted" class="reqErr">IFSC is required</span> -->

                                                <!--  <span ng-show="registrationForm.ifsc.$error.required
                                                && (registrationForm.$submitted ||registrationForm.ifsc.$dirty)" class="reqErr">IFSC is required</span> -->
                                            </label>

                                            <input type="text" ng-class="{'highlightErr': registrationForm.ifsc.$error.required
                                            && (registrationForm.$submitted)}"
                                                ng-disabled="vm.isUserNotEditableField === true" class="form-control"
                                                ng-model="vm.registrationData.bankIfsc" name="ifsc"
                                                placeholder="Enter BankAccount" input-field-formatter
                                                input-regex='[^a-zA-Z0-9]+$' ng-trim="false" maxlength="20" required>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="inner-page-box mb-20">
                                <div class='inner-page-header'>
                                    <h4><span>NOMINEE DETAIL</span></h4>
                                </div>

                                <div class="inner-page-content">

                                    <div class="row form-group mb-25">

                                        <div class="col-sm-3">
                                            <label>Name</label>

                                            <input type="text" class="form-control" name="nomineeName"
                                                ng-model="vm.registrationData.nomineeDetails.nomineeName"
                                                placeholder="Enter Nominee Name" ng-trim="false" input-field-formatter
                                                input-regex='[^a-zA-Z ]+$'>
                                        </div>

                                        <div class="col-sm-3">
                                            <label>Relation With Nominee</label>

                                            <input type="text" class="form-control" name="nomineeRelation"
                                                ng-model="vm.registrationData.nomineeDetails.nomineeRelation"
                                                placeholder="Enter Relation With Nominee" ng-trim="false"
                                                input-field-formatter input-regex='[^a-zA-Z ]+$'>
                                        </div>

                                        <div class="col-sm-3">
                                            <label>Phone No</label>

                                            <input type="text" input-field-formatter input-regex='[^0-9]+$'
                                                ng-trim="false" class="form-control"
                                                ng-model="vm.registrationData.nomineeDetails.nomineePhone"
                                                name="nomineePhone" placeholder="Enter Primary Phone" maxlength="10">
                                        </div>

                                        <div class="col-sm-3">
                                            <label>Email Id
                                                <span
                                                    ng-show="registrationForm.emailPersonal.$error.pattern && (registrationForm.emailPersonal.$submitted)"
                                                    class="reqErr">Please enter proper email</span>
                                            </label>

                                            <input type="text" maxlength="80" class="form-control"
                                                ng-class="{'highlightErr': registrationForm.nomineeEmail.$error.pattern && (registrationForm.$submitted)}"
                                                name="nomineeEmail"
                                                ng-model="vm.registrationData.nomineeDetails.nomineeEmail"
                                                ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"
                                                placeholder="Enter Nominee Email Id">
                                        </div>

                                    </div>

                                    <div class="row form-group mb-25">

                                        <div class="col-sm-6">
                                            <label>Permanent address</label>

                                            <textarea class="form-control textarea-style" rows="3" id="comment"
                                                name="nomineePermanentAddress"
                                                ng-model="vm.registrationData.nomineeDetails.nomineePermanentAddress"
                                                maxlength="300" placeholder="Enter Permanent Address"></textarea>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </fieldset>

                        <div class="row form-group mb-25 alignCenter">
                            <button ng-if="vm.isEdit === null && vm.isUserEdit === null " type="submit"
                                class="btn primary-btn  mr-10"
                                ng-click="vm.managerErr === '' && registrationForm.$valid && vm.registerEmployee();">Create</button>

                            <button ng-if="vm.isEdit==true || vm.isUserNotEditableField === true" type="submit"
                                class="btn primary-btn  mr-10"
                                ng-click="vm.managerErr =='' && vm.editEmployee()">Update</button>
                            <button type="button" class="btn primary-btn  btn-cursor-pointer"
                                ng-click="vm.goToPreviousPage()">Cancel</button>


                            <button type="button"
                                ng-if="(vm.isEdit !== null && vm.isEdit === false)|| (vm.isUserEdit === true)"
                                class="btn primary-btn btn-width-82px btn-cursor-pointer"
                                ng-click="vm.isUserEdit ? vm.func() : (vm.isEdit = !vm.isEdit)">Edit&nbsp;</button>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /.container-fluid -->