<div class="content-section" ng-init="vm.getHolidayList()">
    <div class="container-fluid">
        <div class="holiday-list-page">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="dataTable-heading addBtn-btn">Holidays List
                        <button class="btn btnAdd-route" ui-sref="page.UpdateHoliday({id: ''})"> <i class="fa fa-plus"
                                aria-hidden="true"></i></button>
                    </h3>


                    <div class="card-view">
                        <table datatable="ng" class="table table-bordered" dt-options="vm.dtOptions"
                            dt-column-defs="vm.dtColumnDefs" class="row-border hover mb-10"
                            ng-if="vm.holidayList.length > 0">
                            <thead>
                                <tr>
                                    <th style="display:none"></th>
                                    <th class="relative serial_num">S.No</th>
                                    <th class="relative">Date</th>
                                    <th class="relative">Reason</th>
                                    <th class="relative">Company</th>
                                    <th class="relative">Action</th>
                                    <th style="display:none"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.holidayList track by $index">
                                    <td style="display:none"></td>
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.holidayDate | date: 'dd/MM/yyyy' }}</td>
                                    <td>
                                        <div class="comment-hover" ng-if="item.name.length>0">
                                            <P> {{item.name.substring(0,30)}}<span
                                                    ng-if="item.name.length>30">...</span></P>
                                            <div class="commentText"
                                                style="left:-80px ; word-break: break-all;padding: 5px !important"
                                                ng-class="{'change-width-size':(item.name.length>60)}">
                                                <p>{{item.name}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{item.companyName}}</td>
                                    <td>
                                        <div style="width:85px;" class="btn-group btn-group-sm emplActBtn">
                                            <button type="button" class="btn btn-action dropdown-toggle"
                                                data-toggle="dropdown">
                                                ACTION<span class="caret ml-5"></span>
                                            </button>
                                            <ul class="dropdown-menu left-m15" role="menu">
                                                <li>
                                                    <a ui-sref="page.UpdateHoliday({id: item.id})">Edit</a>
                                                </li>
                                                <li style="cursor:pointer;">
                                                    <a ng-click="vm.deleteHoliday(item.id,$index)">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="display:none"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="vm.holidayList.length <= 0" style="text-align:center">
                            <h4>No data available</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>