<div class="content-section" ng-init="vm.getInitialData()">
    <div class="container-fluid">
        <div class="notification-list-page">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="dataTable-heading addBtn-btn">Notification List
                        <button class="btn btnAdd-route" ui-sref="page.notification"> <i class="fa fa-plus"
                                aria-hidden="true"></i></button>
                    </h3>

                    <div class="card-view">
                        <div class="table-responsive">
                            <table datatable="ng" class="table table-bordered" dt-options="vm.dtOptions"
                                dt-column-defs="vm.dtColumnDefs" class="row-border hover mb-10"
                                ng-if="vm.notificationList.length > 0">
                                <thead>
                                    <tr>
                                        <th style="display:none"></th>
                                        <th class="relative serial_num">S.No</th>
                                        <th class="relative">Created Date</th>
                                        <th class="relative">Expiry Date</th>
                                        <th class="relative">Message</th>
                                        <th class="relative">Actual Expiry Date</th>
                                        <th>Action</th>
                                        <th style="display:none"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.notificationList track by $index">
                                        <td style="display:none"></td>
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.creationDate|date:'dd/MM/yyyy'}}</td>
                                        <td>{{item.expiryDate}}</td>
                                        <td>
                                            <div class="comment-hover" ng-if="item.text.length>0">
                                                <P> {{item.text.substring(0,30)}}<span
                                                        ng-if="item.text.length>30">...</span></P>
                                                <div class="commentText"
                                                    style="left:-80px ; word-break: break-all;padding: 5px !important"
                                                    ng-class="{'change-width-size':(item.text.length>60)}">
                                                    <p>{{item.text}}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{item.actualExpiryDate}}</td>
                                        <td>
                                            <button ng-disabled="item.active==false"
                                                ng-click="vm.deleteNotification(item.id,$index)"
                                                class="btn primary-btn width-70">Expire</button>
                                        </td>
                                        <td style="display:none"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div ng-if="vm.notificationList.length <= 0" style="text-align:center">
                                <h4>No data available</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Alert Modal -->


<div class="modal" id="notificationDelete-modal">
    <div class="modal-dialog modal-sm modal-alert">
        <div class="modal-content">
            <div class="modal-body">

                <div ng-if="vm.confirmationDelete">
                    <h4>Do you want to expire the notification#{{vm.notificationNum}}?</h4>
                </div>
                <div ng-if="vm.confirmationDelete">
                    <button type="button" class="btn mt-10" ng-click="vm.confirmation(true)" data-dismiss="modal"
                        style="color:#000">Yes</button>
                    <button type="button" class="btn mt-10" ng-click="vm.confirmation(false)" data-dismiss="modal"
                        style="color:#000">No</button>
                </div>

                <div ng-if="vm.formSubmitted" class="alert alert-success" role="alert" width="100%">
                    Notification#{{vm.notificationNum}} expired successfully
                </div>


                <div ng-if="vm.formSubmitted==false && vm.message==undefined" class="alert alert-danger" role="alert"
                    width="100%">
                    Unable to process your request. Please retry or contact system admin
                </div>

                <div ng-if="vm.formSubmitted==false && vm.message != undefined && vm.message !=''"
                    class="alert alert-danger" role="alert" width="100%">
                    {{vm.message}}
                </div>

                <button ng-if="!vm.confirmationDelete" type="button" class="btn mt-10" data-dismiss="modal"
                    style="color:#000">Ok</button>
            </div>
        </div>
    </div>
</div>