<div class="content-section" ng-init="vm.getInitialData()">
    <div class="container-fluid">
        <div class="update-holiday-calender-page">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="dataTable-heading">Update Holiday Calender</h3>
                    <div class="col-md-8 col-md-offset-2">
                        <form id="UpdateHoliday" name="UpdateHoliday" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group flex-inline">
                                        <!-- <label class="margin-holidayLabel">Date </label> -->
                                        <label class="margin-holidayLabel">Date<span style="color:red;">*</span>

                                        </label>
                                        <input type="text" ng-class="{'highlightErr': UpdateHoliday.fromDate.$error.required
                                          && UpdateHoliday.$submitted}" class="form-control" name="fromDate"
                                            ng-model="vm.holidayData.holidayDate" datepicker=""
                                            is-holiday-account="true" initiate-id="toDate" readonly="readonly" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group flex-inline">
                                        <label class="margin-holidayLabel">Company<span style="color:red;">*</span>
                                        </label>
                                        <select name="company" class="form-control" ng-model="vm.holidayData.companyId"
                                            ng-class="{'highlightErr': UpdateHoliday.company.$error.required 
                                              && UpdateHoliday.$submitted}"
                                            ng-options="comp.companyId as comp.companyName for comp in vm.companyList | orderBy:'companyName' "
                                            required>
                                            <option value="" disabled>Select Company</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group mb-15">
                                        <label id="">Details<span style="color:red;">*</span></label>
                                        <textarea maxlength="200" class="form-control textarea-style" ng-class="{'highlightErr': UpdateHoliday.comments.$error.required 
                                        && UpdateHoliday.$submitted}" name="comments" rows="5" name="employeeComments"
                                            id="comment" ng-model="vm.holidayData.name" maxlength="290"
                                            required></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <h3 class="holidayImg-label">Holiday Image</h3>
                                <div>
                                    <strong class="note-info"><span
                                            style="font-size: 14px;color:#000;">Note:-</span>Image extension should be
                                        in .jpg /.jpeg /.png /.gif</strong>
                                </div>
                                <div class="upload-image relative">
                                    <div class="text-center reqErr"
                                        ng-if="vm.validExtension != undefined && !vm.validExtension">File must be .jpg
                                        /.jpeg /.png /.gif</div>
                                    <div class="text-center reqErr" ng-if="vm.invalidSize==true">Image size should be
                                        less than 512 KB</div>

                                    <div class="text-center reqErr"
                                        ng-if="vm.errImgMsg!= undefined && vm.errImgMsg !=''">{{vm.errImgMsg}}</div>

                                    <div class="text-center" ng-show="vm.myImage == ''"
                                        style="margin-bottom: 20px;margin-top: 5px;">

                                        <a class='btn btn-primary' href='javascript.void(0);' title={{vm.fileChoosen}}
                                            style="overflow: hidden;position: relative;">Choose Image
                                            <input type="file" class="choose-file" name="file_source" id="fileInput">
                                        </a>
                                        <span class='label label-info' id="upload-file-info"></span>
                                    </div>

                                    <div ng-if="vm.myImage !='' " class="img-uploader-content "
                                        style="margin-bottom:20px;">
                                        <i class="fa fa-times closeImg-btn" ng-click="vm.cancel()"
                                            aria-hidden="true"></i>
                                        <img ng-src="{{vm.myImage}}" />
                                    </div>
                                </div>
                            </div>



                            <div class="col-xs-12">
                                <div class="text-center">
                                    <button type="submit" class="btn primary-btn width-70"
                                        ng-click="UpdateHoliday.$valid && !vm.invalidSize && vm.addHoliday();">Update</button>
                                    <button type="button" class="btn primary-btn width-70 "
                                        ng-click="vm.goToPreviousPage()">Cancel</button>

                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--AlertModal -->

<div class="modal" id="holiday-modal">
    <div class="modal-dialog modal-sm modal-alert">
        <div class="modal-content">
            <div class="modal-body">
                <div role="alert" width="100%">
                    <div ng-if="(vm.formSubmitted && vm.imageUpload)||(vm.formSubmitted && vm.imageUpload==null) "
                        class="alert alert-success" role="alert" width="100%">
                        Holiday created successfully
                    </div>
                    <div ng-if="((vm.formSubmitted && vm.imageUpload==false && vm.imageUploadMsg =='')||vm.imageUpload==false && vm.imageUploadMsg =='' )"
                        class="alert alert-danger" role="alert" width="100%">
                        Holiday created successfully but image upload is failed.
                    </div>
                    <div ng-if="(vm.formSubmitted && vm.imageUpload==false && vm.imageUploadMsg !='') ||vm.imageUpload==false && vm.imageUploadMsg !=''  "
                        class="alert alert-danger" role="alert" width="100%">
                        Holiday created successfully but {{vm.imageUploadMsg}}.
                    </div>

                    <div ng-if="vm.formSubmitted==false && vm.message==''" class="alert alert-danger" role="alert"
                        width="100%">
                        Unable to process your request. Please retry or contact system admin
                    </div>

                    <div ng-if="vm.formSubmitted==false && vm.message !='' " class="alert alert-danger" role="alert"
                        width="100%">
                        {{vm.message}}
                    </div>

                </div>
                <button type="button" class="btn mt-10" data-dismiss="modal" style="color:#000">Ok</button>
            </div>
        </div>
    </div>
</div>