<div class="content-section">
    <div class="container-fluid">
        <div class="self-evaluation-history-page">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="dataTable-heading">Self Evaluation</h3>
                   
                        <div class="table-responsive">
                            <table class="table" datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="row-border hover mb-10 selfEvaluationbtn" ng-if="vm.reviewDetailsResponse.length > 0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="relative">S.No <span class="border-left"></span></th>
                                        <th class="relative">Department <span class="border-left"></span></th>
                                        <th class="relative">From <span class="border-left"></span></th>
                                        <th class="relative">To <span class="border-left"></span></th>
                                        <th class="relative">Last Date (Employee) <span class="border-left"></span></th>
                                        <th class="relative">Last Date (Manager) <span class="border-left"></span></th>
                                        <th class="relative">Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="reviewDetail in vm.reviewDetailsResponse track by $index">
                                        <td></td>
                                        <td>{{$index + 1}}</td>
                                        <td>{{reviewDetail.department.deptName}}</td>
                                        <td>{{reviewDetail.startDate| date: 'dd/MM/yyyy'}}</td>
                                        <td>{{reviewDetail.endDate | date: 'dd/MM/yyyy'}}</td>
                                        <td>{{reviewDetail.employeeEndDate|date: 'dd/MM/yyyy'}}</td>
                                        <td>{{reviewDetail.managerEndDate|date: 'dd/MM/yyyy'}}</td>
                                        <!-- <td ng-if="reviewDetail.isCompleted==true">Finished</td> -->
                                       <!--  <td ng-if="reviewDetail.isCompleted==false">
                                          {{reviewDetail.userStatus}}
                                        </td>
                                         <td><button ng-if="reviewDetail.isCompleted" type="button" class="btn primary-btn width-70" ui-sref="page.selfEvaluation({cycleId:reviewDetail.id, empId:''})">View</button>
                                            <button ng-if="!reviewDetail.isCompleted" type="button" class="btn primary-btn width-70" ui-sref="page.selfEvaluation({cycleId:reviewDetail.id, empId:''})">{{reviewDetail.userStatus == "New"? "Add" : "Edit"}}</button>
                                        </td> -->
                                        <td>
                                            <button type="button" class="btn primary-btn width-70" ui-sref="page.selfEvaluation({cycleId:reviewDetail.id, empId:''})">{{reviewDetail.isCompleted? "Finished" : reviewDetail.userStatus}}</button>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div  ng-if="vm.reviewDetailsResponse.length <= 0" style="text-align:center">
                               <h4>No data available</h4>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>




