<div class="content-section" ng-init="vm.initialData()">
    <div class="container-fluid">
        <div class="registration-page">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="dataTable-heading" style="padding:0;">Team Evaluation</h3>
                    <div class="form-group mb-25 manageLeave">
                        <div class="text-center" ng-if="vm.targets.length > 2 && vm.lengthManagerList > 0">
                            <p><h4 class="text-center"><b>Department&nbsp;-&nbsp;{{vm.departmentName}}</b></h4>
                        </div>

                        <div class="row" ng-if="vm.targets.length > 2 && vm.lengthManagerList > 0">
                            <div class="form-group flex-inline col-md-6">
                              <label>From: </label><span style="margin-left: 6px;">{{vm.startDate}}</span>
                              <label style="margin-left:50px;">To: </label><span style="margin-left: 6px;">{{vm.endDate}}</span>
                            </div>
                        </div>


                        <div ng-if="vm.targets.length > 2 && vm.lengthManagerList > 0">
                            <label>Show entries 
                                <select ng-model="vm.itemPerPage" ng-change="vm.paginate()" style="height: 34px;padding: 6px;font-size: 14px;">
                                    <option value="10"  ng-selected="true">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> 
                            </label>
                            <div style="float:right;">
                                <label>Search:</label>
                                <input type="text" ng-model="searchString" ng-change="vm.applyFilter(searchString)">
                            </div>
                        </div>

                    
                        <div class="table-responsive" ng-if="vm.targets.length > 2 && vm.lengthManagerList > 0">
                            <table class="row-border hover mb-10" >
                                <thead>
                                    <tr>
                                        <th ng-repeat="x in vm.category track by $index" colspan="{{x.colspan}}">
                                            {{x.category}}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th ng-repeat="x in vm.targets track by $index">
                                        {{x.targetName}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody  style="background-color:white;">
                                    <tr ng-repeat="ratingObj in vm.employeeRatingArray track by $index">
                                        <td ng-repeat="rating in ratingObj.employeeRating track by $index">
                                        {{rating}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn primary-btn width-70" ui-sref="page.selfEvaluation({cycleId:ratingObj.cycleId, empId:ratingObj.empId})">{{ratingObj.isCompleted ?"View":(ratingObj.managerSubmitted? "View":"Pending") }}</button>
                                            <!-- {{ user.isActive ? "active" : "deactive" }} -->
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="vm.paginatedArr">
                                    <tr>
                                        <td style="text-align: right;" colspan="{{vm.totalColumns}}">
                                            <span ng-repeat="pageNo in vm.paginatedArr track by $index">
                                                <button ng-click="vm.changePaginatedTableData($index)">
                                                    {{$index+1}}
                                                </button>
                                            </span>
                                        </td>
                                    </tr>
                                </tfoot>
                                <!-- AlertModal -->

                                <div class="modal" id="reviewAll-modal" >
                                    <div class="modal-dialog modal-sm modal-alert">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div ng-if="vm.formSubmitted " class="alert alert-success" role="alert" width="100%">
                                                    Review Form Saved Successfully 
                                                </div>

                                                <div ng-if="vm.formSubmitted==false && vm.message==undefined" class="alert alert-danger" role="alert" width="100%">
                                                   Unable to process your request. Please retry or contact system admin
                                                </div>

                                                <div ng-if="vm.formSubmitted==false && vm.message != undefined && vm.message !=''" class="alert alert-danger" role="alert" width="100%">
                                                    {{vm.message}}
                                                </div>
                                                
                                                <button type="button" class="btn mt-10" data-dismiss="modal" style="color:#000">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </table>
                        </div>
                        <div ng-if="vm.targets.length <= 2 || vm.lengthManagerList == 0" style="text-align: center;">
                            <h5>No Data Available</h5> 
                        </div>
                        <div class="text-center">
                         <button type="button" class="btn primary-btn width-70" ng-click="vm.goToPreviousPage()">Cancel</button>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="col-md-4">
               <div class="form-group flex-inline">
                <label class="searchLabel">Designation </label>
                  <select class="form-control" ng-model="vm.filters.designationId" ng-options="desgn.designationId as desgn.designation for desgn in vm.designations" ng-change="vm.applyFilter()">
                    <option value="" disabled>Filter by Designation</option>
                </select>
               </div>
            </div> -->



