<div class="content-section" ng-init="vm.initialData()">
    <div class="container-fluid" >
        <div class="review-history-page">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="dataTable-heading addBtn-btn">Evaluation History<button  class="btn btnAdd-route" ui-sref="page.createReview"> <i class="fa fa-plus" aria-hidden="true"></i></button></h3>

                    <div class="table-responsive">
                        <table class="table" datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="row-border hover mb-10" ng-if="vm.reviewDetailsResponse.length > 0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="relative">S.No<span class="border-left"></span></th>
                                    <th class="relative">Department<span class="border-left"></span></th>
                                    <th class="relative">From<span class="border-left"></span></th>
                                    <th class="relative">To<span class="border-left"></span></th>
                                    <th class="relative">Last Date (Employee)<span class="border-left"></span></th>
                                    <th class="relative">Last Date (Manager)<span class="border-left"></span></th>
                                    <th class="relative">Status<span class="border-left"></span></th>
                                    <th>Action</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="reviewDetail in vm.reviewDetailsResponse track by $index ">
                                    <td></td>
                                    <td>{{$index+1}}</td>
                                    <td>{{reviewDetail.department.deptName}}</td>
                                    <td>{{reviewDetail.startDate| date: 'dd/MM/yyyy'}}</td>
                                    <td>{{reviewDetail.endDate | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{reviewDetail.employeeEndDate|date: 'dd/MM/yyyy'}}</td>
                                    <td>{{reviewDetail.managerEndDate|date: 'dd/MM/yyyy'}}</td>
                                    <td ng-if="reviewDetail.isCompleted==true">Finished</td>
                                    <td ng-if="reviewDetail.isCompleted==false">In Progress</td>
                                    <td class="width-11">
                                        <button type="button"  ng-disabled="reviewDetail.isCompleted==true" class="btn primary-btn width-70" ng-click="vm.endEvaluation(reviewDetail.id)">Finish</button>
                                        <span class="evaluation-download-icon" style="cursor:pointer;">
                                        <i ng-hide="vm.showLoadingButton[$index]==true" 
                                        class="fa fa-download download-hover" ng-click="vm.download($index,reviewDetail.id)" aria-hidden="true">
                                            <div class="downloadText" ng-click='$event.stopPropagation();'>
                                                <p class="mb-0">Download&nbsp;</p>
                                            </div>
                                        </i>
                                        </span>
                                        <span ng-show="vm.showLoadingButton[$index]">
                                            <i class="fa fa-spinner fa-spin" style="font-size: 20px;"></i>
                                        </span>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                         <div  ng-if="vm.reviewDetailsResponse.length <= 0" style="text-align:center">
                           <h4>No data available</h4>
                        </div>
                    </div>
                

                </div>
            </div>
        </div>
    </div>
</div>
<!-- AlertModal -->

<div class="modal" id="reviewHistory-modal" >
    <div class="modal-dialog modal-sm modal-alert">
        <div class="modal-content">
            <div class="modal-body">

                <div ng-if="vm.confirmationDelete"><h4>Do you want to complete the cycle ?</h4></div>
                <div ng-if="vm.confirmationDelete">
                    <button type="button" class="btn mt-10" ng-click="vm.confirmation(true)" data-dismiss="modal" style="color:#000">Yes</button>
                     <button type="button" class="btn mt-10" ng-click="vm.confirmation(false)" data-dismiss="modal" style="color:#000">No</button>
                </div>

                <div ng-if="vm.formSubmitted" class="alert alert-success" role="alert" width="100%">
                    Evaluation cycle ended successfully
                </div>

                
                <div ng-if="vm.formSubmitted==false && vm.message==undefined" class="alert alert-danger" role="alert" width="100%">
                    Unable to process your request. Please retry or contact system admin
                </div>

                <div ng-if="vm.formSubmitted==false && vm.message != undefined && vm.message !=''" class="alert alert-danger" role="alert" width="100%">
                    {{vm.message}}
                </div>
                
                <button ng-if="!vm.confirmationDelete" type="button" class="btn mt-10" data-dismiss="modal" style="color:#000">Ok</button>
            </div>
        </div>
    </div>
</div>