<div class="content-section">
    <div class="container-fluid">
        <div class="team-evaluation-history-page">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="dataTable-heading">Team Evaluation History </h3>

                   
                        <div class="table-responsive">
                            <table datatable="ng" class="table" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="row-border hover mb-10 selfEvaluationbtn" ng-if="vm.reviewDetailsResponse.length > 0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="relative">S.No <span class="border-left"></span></th>
                                        <th class="relative">Department <span class="border-left"></span></th>
                                        <th class="relative">From <span class="border-left"></span></th>
                                        <th class="relative">To <span class="border-left"></span></th>
                                        <th class="relative">Last Date (Employee) <span class="border-left"></span></th>
                                        <th class="relative">Last Date (Manager) <span class="border-left"></span></th>
                                        <th class="relative">Status <span class="border-left"></span></th>
                                        <th>Action</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="reviewDetail in vm.reviewDetailsResponse track by $index">
                                        <td></td>
                                        <td>{{$index + 1}}</td>
                                        <td>{{reviewDetail.department.deptName}}</td>
                                        <td>{{reviewDetail.startDate| date: 'dd/MM/yyyy'}}</td>
                                        <td>{{reviewDetail.endDate | date: 'dd/MM/yyyy'}}</td>
                                        <td>{{reviewDetail.employeeEndDate|date: 'dd/MM/yyyy'}}</td>
                                        <td>{{reviewDetail.managerEndDate|date: 'dd/MM/yyyy'}}</td>
                                        <td>{{reviewDetail.isCompleted ? "Finished" : "In Progress"}}</td>
                                        <td><button type="button" class="btn primary-btn width-70" ui-sref="page.reviewOfAll({cycleId:reviewDetail.id})">view</button>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                             <div  ng-if="vm.reviewDetailsResponse.length <= 0" style="text-align:center">
                               <h4>No data available</h4>
                            </div>
                        </div>
                    

                </div>
            </div>
        </div>
    </div>
</div>




