<div class="content-section">
    <div class="container-fluid">
        <div class="add-department-page">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="dataTable-heading">Add Department</h3>
                    <div class="col-md-8 col-md-offset-2">
                        <form id="AddDepartment" name="AddDepartment" novalidate>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group flex-inline">
                                        <label class="margin-departmentLabel">Department Name</label><span
                                            style="color:red;">*</span>
                                        <input type="text" ng-class="{'highlightErr': AddDepartment.deptName.$error.required
                                      && AddDepartment.$submitted}" class="form-control" name="deptName"
                                            ng-model="vm.departmentData.deptName" placeholder="" required>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">
                                <div class="text-center">
                                    <button type="submit" class="btn primary-btn width-70"
                                        ng-click="AddDepartment.$valid && !vm.invalidSize && vm.addDepartment();">Add</button>
                                    <button type="button" class="btn primary-btn width-70 "
                                        ng-click="vm.goToPreviousPage()">Cancel</button>

                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--AlertModal -->

<div class="modal" id="department-modal">
    <div class="modal-dialog modal-sm modal-alert">
        <div class="modal-content">
            <div class="modal-body">
                <div role="alert" width="100%">
                    <div ng-if="vm.formSubmitted" class="alert alert-success" role="alert" width="100%">
                        Department added successfully
                    </div>

                    <div ng-if="(vm.formSubmitted==false && vm.message==undefined) ||(vm.formSubmitted==false && vm.message != undefined && vm.message !='')"
                        class="alert alert-danger" role="alert" width="100%">
                        Department already exist.
                    </div>

                </div>
                <button type="button" class="btn mt-10" data-dismiss="modal" style="color:#000">Ok</button>
            </div>
        </div>
    </div>
</div>