<div class="content-section" ng-init="vm.getDesignationList()">
    <div class="container-fluid">
        <div class="designation-list-page">
            <div class="row">
                <div class="col-md-12">

                    <h3 class="dataTable-heading addBtn-btn">Designation List
                        <button class="btn btnAdd-route" ui-sref="page.AddDesignation"> <i class="fa fa-plus"
                                aria-hidden="true"></i></button>
                    </h3>


                    <div class="card-view">
                        <table datatable="ng" class="table table-bordered" dt-options="vm.dtOptions"
                            dt-column-defs="vm.dtColumnDefs" class="row-border hover mb-10"
                            ng-if="vm.designationList.length > 0">
                            <thead>
                                <tr>
                                    <th style="display:none"></th>
                                    <th class="relative">Designation Id</th>
                                    <th class="relative">Designation Name</th>
                                    <th class="relative">Level</th>
                                    <th class="relative">DeptName</th>
                                    <th class="relative">Action</th>
                                    <th style="display:none"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.designationList track by $index">
                                    <td style="display:none"></td>
                                    <td>{{item.designationId}}</td>
                                    <td>{{item.designation}}</td>
                                    <td>{{item.level}}</td>
                                    <td>{{item.deptName}}</td>
                                    <td>
                                        <div style="width:85px;" class="btn-group btn-group-sm emplActBtn">
                                            <button type="button" class="btn btn-action dropdown-toggle"
                                                data-toggle="dropdown">
                                                ACTION<span class="caret ml-5"></span>
                                            </button>
                                            <ul class="dropdown-menu left-m15" role="menu">
                                                <li>
                                                    <a
                                                        ui-sref="page.UpdateDesignation({designationId: item.designationId})">Edit</a>
                                                </li>
                                                <li style="cursor:pointer;">
                                                    <a
                                                        ng-click="vm.deleteDesignation(item.designationId,$index)">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="display:none"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="vm.designationList.length <= 0" style="text-align:center">
                            <h4>No data available</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--AlertModal -->

<div class="modal" id="designation-modal">
    <div class="modal-dialog modal-sm modal-alert">
        <div class="modal-content">
            <div class="modal-body">
                <div role="alert" width="100%">

                    <div ng-if="(vm.formSubmitted==false && vm.message==undefined) ||(vm.formSubmitted==false && vm.message != undefined && vm.message !='')"
                        class="alert alert-danger" role="alert" width="100%">
                        This designation is associated with an employee, please remove the association
                        to delete it.
                    </div>

                </div>
                <button type="button" class="btn mt-10" data-dismiss="modal" style="color:#000">Ok</button>
            </div>
        </div>
    </div>
</div>