<div id="wrapperDiv" ng-class="{'wrapper': !onlyHeader}" class="full-height">
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-custom navbar-fixed-top custom-navbar headerBar" role="navigation"
		ng-if="!onlyHeader">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>


			<a class="navbar-brand" href="javascript:void(0);">
				<img src="content/img/witty_logo.png" alt="LOGO" class="img-responsive">
			</a>

		</div>


		<!-- Top Menu Items -->
		<ul class="nav navbar-left top-nav " ng-if="!onlyHeader">
			<!-- style="position: absolute;right: 0;top: 10px;" -->

			</a>
			</li>
			<li class="">
				<a href="javascript:void(0);" class="portal-status"><span><b>WITTYBRAINS</b> PORTAL</span>
					<!-- <span style="color: #000;"> - SALARY BREAKDOWN</span> --></a>
			</li>
		</ul>

		<div ng-controller="pagelayoutCtrl as vm" style="display:inline">

			<ul class="nav navbar-right top-nav" ng-if="!onlyHeader">
				<!-- style="position: absolute;right: 0;top: 10px;" -->


				<li class="dropdown">

					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{{vm.UserName}} <b
							class="fa fa-angle-down"></b></a>
					<ul class="dropdown-menu user-dropdown">
						<li ui-sref="page.registration({mode: 'empV', id: vm.userId})"><a href="javascript:void(0);"><i
									class="fa fa-fw fa-user"></i> View Profile</a></li>
						<li ui-sref="page.changePass({id: ''})"><a href="javascript:void(0);"><i
									class="fa fa-fw fa-cog"></i>Change Password</a></li>
						<li class="divider"></li>
						<li ng-click="vm.logOut()"><a href="javascript:void(0);"><i class="fa fa-fw fa-power-off"></i>
								Logout</a></li>
					</ul>
				</li>
			</ul>

			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse" ng-if="!onlyHeader">
				<div class="sidebar flexcroll">
					<!--style="margin-top: 20px;" -->

					<header class="subheader">
						<div class="profile">

							<h5>{{vm.UserName + ' '+vm.middleName+' ' + vm.lastName}}</h5>
							<p class="mail-id">{{vm.userOfficialEmail}}</p>
						</div>
					</header>

					<div>
						<ul class="nav navbar-nav sidebar-option">

							<li ui-sref="page.dashboard" ng-class="{'disable-li':vm.globalFactoryRelay.disableMenu}"
								id="list1" ng-click="vm.openColorText('','list1');vm.openThis('list1')">
								<a href="javascript:void(0);"><i class="fa fa-fw fa fa-users icons"></i>My Dashboard</a>
							</li>

							<li ng-if="vm.user === 'ADMIN' || ((vm.departmentName.toLowerCase() ==='human resource'||vm.departmentName.toLowerCase()=='hr'||vm.departmentName.toLowerCase() ==='hr dept') && (vm.designationName.toLowerCase() !== 'hr trainee' && vm.designationName.toLowerCase() !== 'hr recruiter associate' && vm.designationName.toLowerCase() !== 'hr generalist associate'))"
								ui-sref="page.registration({mode: '',id: ''})"
								ng-class="{'disable-li':vm.globalFactoryRelay.disableMenu}" id="list2"
								ng-click="vm.openColorText('','list2');vm.openThis('list2')">

								<a href="javascript:void(0);"><i class="fa fa-fw fa fa-user-plus icons"></i> New
									Registration</a>

							</li>

							<li id="list3" ng-click="vm.openColorText('','list3')"
								ng-class="{'disable-li':vm.globalFactoryRelay.disableMenu}">
								<a href="javascript:void(0);" id="sub1" data-toggle="collapse" data-target="#submenu-1"
									ng-click="vm.openThis('submenu-1')">
									<i class="fa fa-fw fa-tasks icons"></i> Leave Management<span
										ng-if="vm.globalFactoryRelay.leaveList != 0" class="fa-sm">
										<i class="fa fa-circle fa-fw icon-background1"></i></span>
									<i class="fa fa-fw fa-angle-down pull-right"></i>
								</a>
								<ul id="submenu-1" class="collapse">
									<li id="subList1" ui-sref="page.leaveApplication({id : ''})"
										ng-click="vm.openColorText($event,'subList1')"><a
											href="javascript:void(0);">Apply For Leave</a></li>


									<li ng-if="vm.isOnlyEmployee == false" id="subList2" ui-sref="page.approveLeave"
										ng-click="vm.openColorText($event,'subList2')"><a
											href="javascript:void(0);">Approve Leave <span
												ng-if="vm.globalFactoryRelay.leaveList !=0" class="fa-sm"><span
													class="notification-score">
													{{vm.globalFactoryRelay.leaveList}}</span></span></a></li>

									<li id="subList3" ui-sref="page.leaveAccount({empId : ''})"
										ng-click="vm.openColorText($event,'subList3')"><a
											href="javascript:void(0);">Leave Account</a></li>
									<li id="subList4" ui-sref="page.leaveDetails"
										ng-click="vm.openColorText($event,'subList4')"><a
											href="javascript:void(0);">Leave Details</a></li>

								</ul>
							</li>
							<li id="list4" ng-click="vm.openColorText('','list4')"
								ng-class="{'disable-li':vm.globalFactoryRelay.disableMenu}">
								<a href="javascript:void(0);" id="sub2" data-toggle="collapse" data-target="#submenu-2"
									ng-click="vm.openThis('submenu-2')">
									<i class="fa fa-fw fa-money icons"></i> Payroll <i
										class="fa fa-fw fa-angle-down pull-right"></i>
								</a>
								<ul id="submenu-2" class="collapse">
									<li id="List4subList1" ui-sref="page.salarySlip"
										ng-click="vm.openColorText($event,'List4subList1')"><a
											href="javascript:void(0);">Payslips</a></li>
									<li id="List4subList2" ui-sref="page.viewCurrentBreakdown"
										ng-click="vm.openColorText($event,'List4subList2')"><a
											href="javascript:void(0);">View Current Breakdown</a></li>

								</ul>
							</li>
							<li id="list5" ng-click="vm.openColorText('','list5')">
								<a href="javascript:void(0);" id="sub3" data-toggle="collapse" data-target="#submenu-3"
									ng-click="vm.openThis('submenu-3')">
									<i class="fa fa-fw fa-cog icons"></i>Policies And Procedure <i
										class="fa fa-fw fa-angle-down pull-right"></i>
								</a>
								<ul id="submenu-3" class="collapse">

									<li id="List5subList1" ui-sref="page.policy({policyType:vm.policy})"
										ng-click="vm.openColorText($event,'List5subList1')"><a
											href="javascript:void(0);">Employee Handbook</a></li>




									<li ng-if="vm.globalFactoryRelay.disableMenu" id="List5subList17"
										ui-sref="page.acceptance" ng-click="vm.openColorText($event,'List5subList17')">
										<a href="javascript:void(0);">Policy Acceptance</a>
									</li>
								</ul>
							</li>

							<li ng-if="vm.user=='ADMIN'||((vm.departmentName.toLowerCase()=='human resource'||vm.departmentName.toLowerCase()=='hr'||vm.departmentName.toLowerCase()=='hr dept') &&  (vm.designationName.toLowerCase() !== 'hr trainee' && vm.designationName.toLowerCase() !== 'hr recruiter associate' && vm.designationName.toLowerCase() !== 'hr generalist associate'))"
								id="list6" ng-click="vm.openColorText('','list6')"
								ng-class="{'disable-li':vm.globalFactoryRelay.disableMenu}">

								<a href="javascript:void(0);" id="sub4" data-toggle="collapse" data-target="#submenu-4"
									ng-click="vm.openThis('submenu-4')">
									<i class="fa fa-fw fa-briefcase icons"></i>Work Force Management <i
										class="fa fa-fw fa-angle-down pull-right"></i>
								</a>

								<ul id="submenu-4" class="collapse">
									<li id="List6subList1" ui-sref="page.workForceManagement"
										ng-click="vm.openColorText($event,'List6subList1')"><a
											href="javascript:void(0);">Employee List</a></li>
									<li id="List6subList2" ui-sref="page.charts"
										ng-click="vm.openColorText($event,'List6subList2')"><a
											href="javascript:void(0);">Distribution</a></li>
							</li>
						</ul>

						</li>



						<li id="list9" ng-click="vm.openColorText('','list9')"
							ng-class="{'disable-li':vm.globalFactoryRelay.disableMenu}">
							<a href="javascript:void(0);" id="sub7" data-toggle="collapse" data-target="#submenu-7"
								ng-click="vm.openThis('submenu-7')">
								<i class="fa fa-lightbulb-o icons"></i></i>Ideas & Suggestions <i
									class="fa fa-fw fa-angle-down pull-right"></i>
							</a>
							<ul id="submenu-7" class="collapse">
								<li id="List9subList1" ui-sref="page.feedback({id:''})"
									ng-click="vm.openColorText($event,'List9subList1')"><a
										href="javascript:void(0);">Submit Feedback</a></li>
								<li id="List9subList2" ui-sref="page.feedbackDetail({id:''})"
									ng-click="vm.openColorText($event,'List9subList2')"><a href="javascript:void(0);">My
										Feedbacks</a></li>
								<li id="List9subList3" ui-sref="page.teamFeedback"
									ng-click="vm.openColorText($event,'List9subList3')"><a
										href="javascript:void(0);">Team's Feedback</a></li>
							</ul>
						</li>
						<!-- <li id="list12" ng-click="vm.openColorText('','list12')" -->
							<!-- ng-class="{'disable-li':vm.globalFactoryRelay.disableMenu}"> -->
							<!-- <a href="javascript:void(0);" id="sub10" data-toggle="collapse" data-target="#submenu-10" -->
								<!-- ng-click="vm.openThis('submenu-10')"> -->
								<!-- <i class="fa fa-fw  fa fa-user-times icons"></i>Resignation<i -->
									<!-- class="fa fa-fw fa-angle-down pull-right"></i> -->
							<!-- </a> -->
							<!-- <ul id="submenu-10" class="collapse"> -->
								<!-- <li id="List12subList1" ui-sref="page.selfResignation" -->
									<!-- ng-click="vm.openColorText($event,'List12subList1')"><a -->
										<!-- href="javascript:void(0);">Resign</a></li> -->
								<!-- <li id="List12subList2" ui-sref="page.subordinateResignation" -->
									<!-- ng-click="vm.openColorText($event,'List12subList2')"><a -->
										<!-- href="javascript:void(0);">Team's Resignation</a></li> -->
								<!-- <li id="List12subList3" ui-sref="page.resignNew" ng-click="vm.openColorText($event,'List12subList3')"><a href="javascript:void(0);">Resign_New</a></li> -->
							<!-- </ul> -->
						<!-- </li> -->

						<li ng-if="vm.user === 'ADMIN' || ((vm.departmentName.toLowerCase() === 'human resource'|| vm.departmentName.toLowerCase() === 'hr'|| vm.departmentName.toLowerCase().toLowerCase() === 'hr dept') && (vm.designationName.toLowerCase() !== 'hr trainee' && vm.designationName.toLowerCase() !== 'hr recruiter associate' && vm.designationName.toLowerCase() !== 'hr generalist associate'))"
							id="list11" ng-click="vm.openColorText('','list11')"
							ng-class="{'disable-li':vm.globalFactoryRelay.disableMenu}">
							<a href="javascript:void(0);" id="sub9" data-toggle="collapse" data-target="#submenu-9"
								ng-click="vm.openThis('submenu-9')">
								<i class="fa fa-fw  fa-file-excel-o icons"></i>Reports<i
									class="fa fa-fw fa-angle-down pull-right"></i>
							</a>
							<ul id="submenu-9" class="collapse">
								<li id="List11subList1" ui-sref="page.report({type:'leave'})"
									ng-click="vm.openColorText($event,'List11subList1')"><a
										href="javascript:void(0);">Leave Report</a></li>
								<li id="List11subList2" ui-sref="page.report({type:'joinee'})"
									ng-click="vm.openColorText($event,'List11subList2')"><a
										href="javascript:void(0);">Joinee Report</a></li>
							</ul>
						</li>



						<li ng-if="vm.user=='ADMIN'||((vm.departmentName.toLowerCase()=='human resource'||vm.departmentName.toLowerCase()=='hr'||vm.departmentName.toLowerCase()=='hr dept')&&(vm.designationName.toLowerCase() !== 'hr trainee' && vm.designationName.toLowerCase() !== 'hr recruiter associate' && vm.designationName.toLowerCase() !== 'hr generalist associate'))"
							id="list10" ng-click="vm.openColorText('','list10')"
							ng-class="{'disable-li':vm.globalFactoryRelay.disableMenu}">
							<a href="javascript:void(0);" id="sub8" data-toggle="collapse" data-target="#submenu-8"
								ng-click="vm.openThis('submenu-8')">
								<i class="fa fa-fw fa-cogs icons"></i>Setup <i
									class="fa fa-fw fa-angle-down pull-right"></i>
							</a>
							<ul id="submenu-8" class="collapse">
								<!-- <li id="List10subList1" ui-sref="page.roaster" ng-click="vm.openColorText($event,'List10subList1')"><a href="javascript:void(0);">Roster Plan</a></li> -->
								<li id="List10subList2" ui-sref="page.HolidayList"
									ng-click="vm.openColorText($event,'List10subList2')"><a
										href="javascript:void(0);">Holidays</a></li>
								<li id="List10subList3" ui-sref="page.notificationHistory"
									ng-click="vm.openColorText($event,'List10subList3')"><a
										href="javascript:void(0);">Notification</a></li>
								<li id="List10subList4" ui-sref="page.salarySlipAdmin"
									ng-click="vm.openColorText($event,'List10subList4')"><a
										href="javascript:void(0);">Salary & Payslip</a></li>
							</ul>
						</li>

						<li ng-if="vm.user=='ADMIN'||((vm.departmentName.toLowerCase()=='human resource'||vm.departmentName.toLowerCase()=='hr'||vm.departmentName.toLowerCase()=='hr dept')&&(vm.designationName.toLowerCase() !== 'hr trainee' && vm.designationName.toLowerCase() !== 'hr recruiter associate' && vm.designationName.toLowerCase() !== 'hr generalist associate'))"
							id="list13" ng-click="vm.openColorText('','list13')"
							ng-class="{'disable-li':vm.globalFactoryRelay.disableMenu}">
							<a href="javascript:void(0);" id="sub13" data-toggle="collapse" data-target="#submenu-13"
								ng-click="vm.openThis('submenu-13')">
								<i class="fa fa-fw fa fas fa-bookmark icons "></i>Designation Management <i
									class="fa fa-fw fa-angle-down pull-right"></i>
							</a>
							<ul id="submenu-13" class="collapse">
								<li id="List13subList2" ui-sref="page.DepartmentList"
									ng-click="vm.openColorText($event,'List13subList2')"><a
										href="javascript:void(0);">Department</a></li>
								<li id="List13subList3" ui-sref="page.DesignationList"
									ng-click="vm.openColorText($event,'List13subList3')"><a
										href="javascript:void(0);">Designation</a></li>
							</ul>
						</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- <div class="nav-shadow"></div> -->

	<div class="full-height" data-ui-view="">

	</div>
</div><!-- /#wrapper -->