<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		</meta>
		<title></title>
		<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
	</head>
	<body>
		<div class="wrapper" style="max-width:600px;margin:0 auto;line-height:1.2;border:1px solid #464646;font-family: 'Open Sans', sans-serif;
			font-weight:400;">
			<div class="container" style = "padding:40px 60px;">
				<!--  INFO CONTENT  -->
				<table class="table-inner mb-0" style = "width:100%;font-size:16px;color:#464646; margin-bottom:0px;" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
					<tbody>
					<tr>
						<td>
							<p>
								Hi,
							</p>
							<p>
								These Are The Following Changes Made By Employee. </p>
							<p>
								Employee Name : <span th:text=" ${empName}"></span>
							</p>
							<p>
								Employee Id : <span th:text=" ${empCode}"></span>
							</p>
							<table style="width: 100%; margin-bottom: 0px;" border="1"
								align="center">
								<thead>
									<tr>
										<th>Sl.No</th>
										<th>Field</th>
										<th>Previous</th>
										<th>New</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each=" data,iterationStatus  : ${record}">
										<td th:text="${iterationStatus.count}"><center>1</center></td>
										<td th:text=" ${data.fieldName}"></td>
										<td th:text=" ${data.previousValue}"></td>
										<td th:text=" ${data.newValue}"></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>

						<td>
							<p>Please login to your Wittybrains account to take appropriate
								action.</p>
							<p>
								Sincerely, <br /> <em>The Wittybrains Team</em>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>