<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
</meta>
<title></title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans"
	rel="stylesheet" />
</head>
<body>
	<div class="wrapper"
		style="max-width: 600px; margin: 0 auto; line-height: 1.2; border: 1px solid #464646; font-family: 'Open Sans', sans-serif; font-weight: 400;">
		<div class="container" style="padding: 40px 60px;">
			<!--  INFO CONTENT  -->
			<table class="table-inner mb-0"
				style="width: 100%; font-size: 16px; color: #464646; margin-bottom: 0px;"
				align="center" border="0" cellpadding="0" cellspacing="0"
				width="600">
				<tbody>
					<tr>
						<td>
							<p>
								Hi <span th:text="${empName}" />,
							</p>
							<p>
								Your <a th:href="${wittyEMSLink}">WittyEMS</a> Account has been created. Your login,
							</p>
							<p>
								Username	:	<span th:text="${officialEmail}" />
							</p>
							<p>
								Password	:	<span th:text="${password}" />
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>
								Sincerely, <br /> <em>The WittyBrains Team</em>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>