<div class="container-fluid" ng-init="vm.initialData()">

    <div class="row">
        <div class="col-md-12">
            <ul class="resignation-progress">
                <li id="you" class="step-you">YOU</li>
                <li id="manager" class="step-manager">MANAGER</li>
                <li id="hr" class="step-hr">HR</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="inner-page-box mb-20">
                <div class='inner-page-header'>
                    <h4 class="card-title"><span>Initiate Resignation</span> <span class="pull-right"><a
                                style="text-decoration: underline;" ui-sref="page.resignHistory">History</a></span></h4>
                </div>

                <div class="inner-page-content">
                    <form class="resignationForm" name="resignationForm" validform novalidate>
                        <fieldset ng-disabled="vm.disabled > 0">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <div>
                                            <td class="input-label">Employee's Name:</td>
                                            <td class=""><span class="">{{vm.EmployeeName}}</span></td>
                                        </div>

                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td class="input-label">Type of Exit:</td>
                                        <td class="">
                                            <select class="form-control input-text-border"
                                                ng-model="vm.resignData.typeId"
                                                ng-options="resignation.id as resignation.type for resignation in vm.resignationTypes | orderBy : 'type' "
                                                name="resignationTypes"
                                                ng-change="vm.dropDownChanged('type', 'resignationTypeId', 'resignationTypes')">
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>&nbsp;</td>
                                        <td class="input-label">Reason:</td>
                                        <td class=""><select class="form-control input-text-border"
                                                style=" text-transform: capitalize;" ng-model="vm.resignData.reasonId"
                                                ng-options="resignation.id as resignation.reason for resignation in vm.resignationReason | orderBy : 'type' "
                                                name="resignationReason"
                                                ng-change="vm.dropDownChanged('reason', 'resignationReasonId', 'resignationReason')">
                                            </select></td>

                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td class="input-label">Resignation Date:</td>
                                        <td class="">
                                            <div class="input-text-border resignation-div">
                                                {{vm.resignationDate}}
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td class="input-label">Last Day in Company:</td>
                                        <td class="">
                                            <div class="input-text-border resignation-div">
                                                {{vm.lastDay}}
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td class="input-label">Notes:<span style="color:red;">*</span></td>
                                        <td class="">
                                            <textarea
                                                ng-class="{'highlightErr': resignationForm.notes.$error.required && resignationForm.$submitted}"
                                                type="text" style="width:100%;" name="notes"
                                                ng-model="vm.resignData.resignationText"
                                                class="form-control input-text-border" maxlength="250"
                                                required></textarea>
                                        </td>

                                    </tr>

                                    <tr
                                        ng-if="(vm.disabled > 0) && (vm.currentResignationData.managerStatus !== 'PENDING')">
                                        <td>&nbsp;</td>
                                        <td class="input-label">Manager Notes:</td>
                                        <td class="">
                                            <div class="input-text-border resignation-div"
                                                ng-class="{'height-36':vm.currentResignationData.managerPublicNotes === null}"
                                                style="width:100%;">
                                                {{vm.currentResignationData.managerPublicNotes}}
                                            </div>

                                    </tr>

                                    <tr
                                        ng-if="(vm.disabled > 0 ) && (vm.currentResignationData.hrStatus !== 'PENDING')">
                                        <td>&nbsp;</td>
                                        <td class="input-label ">Hr Notes:</td>
                                        <td class="">
                                            <div class="input-text-border resignation-div"
                                                ng-class="{'height-36':vm.currentResignationData.hrPublicNotes === null}"
                                                style="width:100%;">
                                                {{vm.currentResignationData.hrPublicNotes}}
                                            </div>

                                    </tr>
                                </tbody>
                            </table>

                            <div class="" style="text-align:right;">
                                <!-- <button class="btn primary-btn" ng-class="{'disableButton':(vm.disabled > 0)}" -->
                                    <button class="btn primary-btn" ng-class="{'disableButton':vm.disabled}"
                                    type="submit" ng-click=" resignationForm.$valid && vm.resignSubmit()">Apply</button>

                            </div>
                            <fieldset>
                    </form>
                </div>


            </div>
        </div>
    </div>

    <!-- </div> -->
</div>

<!-- Alert Modal -->
<div class="modal" id="selfResignation-modal">

    <div class="modal-dialog modal-sm modal-alert">
        <div class="modal-content">
            <div class="modal-body">
                <div role="alert" width="100%">
                    <div ng-if="vm.formSubmitted" class="alert alert-success" role="alert" width="100%">
                        Resignation submitted successfully
                    </div>

                    <div ng-if="vm.formSubmitted==false && vm.message==undefined" class="alert alert-danger"
                        role="alert" width="100%">
                        Unable to process your request. Please retry or contact system admin
                    </div>
                    <div ng-if="vm.formSubmitted==false && vm.message != undefined && vm.message !=''"
                        class="alert alert-danger" role="alert" width="100%">
                        {{vm.message}}
                    </div>

                </div>
                <button type="button" class="btn mt-10" data-dismiss="modal" style="color:#000">Ok</button>
            </div>
        </div>
    </div>
</div>