.highlightErr{
    border-color: red !important;
}
.change-char{
    text-transform: none !important;
}
.mandatory{
    color:red;
}

.width100{
    width: 100px;
}

.pendingLeave{
    color:red !important;
}

.icon-background1 {
    color: red;
}

body {
    background-color: #f7f7f7;
    /*font-family: 'CenturyGothic';*/
    font-family: 'Ubuntu', sans-serif;
    color:#333;
     margin: 0;
    padding: 0;
}
h4{
    margin: 0;
}
/** common css **/
.mt-0{margin-top: 0px !important;}
.mt-10{margin-top: 10px !important;}
.mb-0{margin-bottom: 0px !important;}
.mb-60{margin-bottom: 60px !important;}
.mr-10{margin-right: 10px !important;}
.ml-10{margin-left: 10px !important;}
.ml-5{margin-left:5px !important;}

.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px !important;}
.mb-25{margin-bottom: 25px !important;}


.mt-20{margin-top: 20px !important;}
.mt-40{margin-top: 40px !important;}

.relative{
    position: relative;}

.h-120{height:120px !important;}
.h-20{height:20px !important;}
.pt-0{padding-top: 0px!important;}
.pt-20{padding-top: 20px!important;}
.text-default{color:#fff ;}

/*.leaveForm {
    border: 1px solid #d7d7d7;
    padding: 15px 20px;
    box-shadow: 1px 1px 5px #666;

    background: #f0f0f0;
}*/

/** STYLES FOR HEADER **/
/*.main-header {
    background: rgba(0, 0, 0, 0) url(../../content/img/shade_hd.png) no-repeat scroll 0 0 / cover;
    border: medium none !important;
    margin: 0;
    min-height: 98px;
    padding: 0;
    font-family: 'CenturyGothicBold';
}

.header-info
{
	background:rgba(0, 0, 0, 0) url(../../content/img/blue_bar_img.png) repeat scroll 0 0;
    z-index: 9999;
}
.logo{-width: 221px;float: left;}
.contact-info{float: right;padding: 12px 0;}
.contact-info p,
.contact-info p a
{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	margin-bottom: 0;
}
.contact-info p a:hover {text-decoration: none;color: #e8edf6;}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 37px;
    line-height: 20px;
        color: #000 !important;
        font-family: 'CenturyGothicBold';
}

.navbar-custom .navbar-nav  a:hover,
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus
{
    color: #fff !important;
    background-color: #415467 !important;
}
.navbar-custom {
    background: rgba(0, 0, 0, 0) url(../../content/img/nav.png) no-repeat scroll 0 0 / cover;
    border-color: #e7e7e7;
    border: 0;
    margin-bottom: 0;
}
.navbar-custom .navbar-nav a
{
	color:#333 !important;
}*/


/** END OF HEADER **/


/** **  section 1 **  **/

.jumbotron, .well {
    background: rgba(0,0,0,0) url("../../content/img/header_banner.png") no-repeat scroll 100% center / cover;
    margin-bottom: 0;
    min-height: 550px;
    position: relative;
} 
.up-arrow {
    top: 0;
    height: 48px;
    padding: 0;
    right: 0;
    position: absolute;
    width: 93px;
    z-index: 999;
    left: 0;
    margin: 0 auto;
}

.down-arrow {
    bottom: 4px;
    height: 48px;
    padding: 0;
    position: absolute;
    width: 93px;
    z-index: 999;
    right: 0;
    left: 0;
    margin: 0 auto;
}

/** Modal **/ 
.login-panel {
    width: 420px;
    margin: 3em auto;
    padding: 20px;
    border-radius: 0;
}
.login-content
{
    padding: 20px;
    display: inline-block;
    width: 100%;
}
.login-panel .login-header {
    border: medium none;
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    padding: 0;
}.login-header h3 {
    background: #0d5dc6 none repeat scroll 0 0;
    color: #fff;
    font-family: 'CenturyGothicBold';
    font-size: 22px;
    margin: 0 0 10px;
    padding: 5px;
    text-transform: capitalize;
}
.login-header p {
    font-family: 'CenturyGothic';
}
.jumbotron p {
    font-size: 15pt;
    font-weight: 200;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.login-header p a {
    color: #002f71;
    font-family: 'CenturyGothicBold';
}
.login-panel .form {
    margin: 1em 0;
}

.user-icon
{
	background-image: url("../../content/img/user_icon.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 2px;
    top: 12px;
    z-index: 0;	
}
.pass-icon
{
	background-image: url("../../content/img/password_icon.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 2px;
    top: 12px;
    z-index: 0;	
}

.login-panel .form-control {
    background: #f3f6fa;
    border-radius: 0;
    border: none;
	 color: #165052;
    box-shadow: 0 0 5px #888 inset;
    font-family: 'CenturyGothic';
}

.btn-default {
    font-family: 'CenturyGothic';
    border-color: #7ab800;
    color: #fff;
    background: #7ab800;
    padding: 6px 41px;
    font-size: 15pt;
    border: 1px solid transparent;
}

/*.btn-default:hover,
.btn-default:focus,
.btn-default:active:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #fff;
    background: #0d5dc6;
    border-color: #0d5dc6;
    outline: 0;
}*/

.link {
    float: right;
    text-align: right;
    margin: 9px 0 0;
}
.link a {
    color: #000;
    font-size: 16px;
    font-family: 'CenturyGothicBold';
    margin: 0;
    padding: 0;
}

.h2 {
    font-size: 18px;
    color: #017dc3;
    font-family: 'CenturyGothicBold';
}
.p1
{
	font-size: 13pt;
    line-height: 22px;
    text-align: justify;
    color: #000000;
}

.spacer {padding: 4em 0;}
.form-footer{display: inline-block;width: 100%;}

@media screen and (max-width: 767px) {
.spacer{padding:0;}
}

/*
.wrapper {
    padding-left: 0; 
    margin-top: 100px;   
}*/

/*.page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
}*/

/* Top Navigation */
.navbar-custom
{
    /*background: #293241 !important;*/
    background: #fff !important;
    padding-left: 0px;
    border:0;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow:0px 7px 25px rgba(0, 0, 0, 0.08);
}
.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    padding: 0;
}
.navbar-custom .navbar-nav{
    margin: 0;
}
.navbar-custom .navbar-nav>li>a
{
    color: #6d89b0;
    font-size: 12px;
    display: block;
    padding: 10px 10px 10px 40px;
    position: relative;
}

.navbar-custom .navbar-nav>li>a, .navbar-custom .navbar-nav>li>a:hover
{
    text-decoration: none!important;
}

.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus
{
    color: #fff ! important;
    text-decoration: none!important;
    outline: 0;
}
.navbar-right {
  float:right;
  margin-right: 0px;
}
.top-nav {
    padding: 0 10px;
    display: inline-block;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    line-height: 15px;
    color: #fd7446 !important;
    font-size: 12px;
    padding:2px 4px;
    /*padding:25px 10px;*/
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: transparent;
}

.user-dropdown{
    right: -10px;
    left:auto;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    min-width: 180px;
    position: absolute;
    margin-top: 0;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
    padding: 5px 10px;
}
.top-nav>.open>.dropdown-menu>li>a:hover {
    background: #000;
    color:#fff;
}


.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 15px;
    line-height: 20px;
}
.navbar-brand>img
{
    width:100%;
    max-width: 30px;
    /*position: absolute;
    top: 5px;
    left: 20px;*/
}
.navbar-custom .navbar-toggle:focus, 
.navbar-custom .navbar-toggle:hover {
    /*background-color: #04adf9;*/
    background-color: #fff;
}
.navbar-custom .navbar-toggle{
    border-color: transparent !important;
    z-index: 9;
}
.navbar-inverse .navbar-toggle .icon-bar {
    border-color: transparent !important;
    background: #000 !important;
    z-index: 9;
}
.navbar-inverse .navbar-toggle .icon-bar:hover,
.navbar-custom .navbar-toggle:hover {
   background: #fff;
   color:#000;
}

.custom-navbar{
    min-height: 70px;
}

.content-section {
    padding: 20px;
    min-height:100%;
}
@media screen and (max-width: 767px) {
  .content-section {
      padding: 0px;
      padding-top: 75px;
    }
}

/*============= Sidebar ===============*/
.sidebar{
   background:  #0b5981 ;
}
.sidebar .subheader {
    /* background: url('../../content/img/adminBackImg.jpg') no-repeat; */
    background-size: cover; 
    /*background: #499ec5;
    color: #fff !important;*/
}
.sidebar .subheader .profile {
    border-bottom: 1px rgba(0, 44, 67,  0.45) solid;
    color: #878d90;
    padding: 20px 15px 5px;
    /*background-color: #04adf9;*/
    /*padding: 20px 0 5px;*/
    /*margin: 0 -15px;
    text-align: center;*/
}
.sidebar .subheader .profile>h5{
    color: #fff;
    font-size: 18px;
    margin: 0;
    font-family: "Lato Regular";
}
.sidebar .subheader .profile>p.mail-id{
    color: #fff;
    font-size: 14px;
    font-family: "Lato Regular";
    word-break: break-word;
}

.sidebar .subheader .profile .user-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #878d90;
    padding: 1px;
}
.sidebar .sidebar-option 
{
    width:100%; 
    /* background-color: #293241; */
}
.sidebar .sidebar-option>li
{
        float: none !important;
}
.sidebar .sidebar-option>li a {
    width:100%;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;

}
.sidebar .sidebar-option>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0, 44, 67,  0.45) solid;
}

.sidebar .sidebar-option>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;    
}

.sidebar .sidebar-option>li>ul>li>a:hover {
    color: #fff;
}
.sidebar .sidebar-option li a .icons
{
    position: absolute;
    left: 12px;
    top: 13px;
}
.sidebar .sidebar-option li a:hover .icons,
.sidebar .sidebar-option li a:focus .icons
{
    /* color:#ff4200 !important; */
    color:#fff !important;
}

/* ================ Media Query for Side Navigation =====================*/

@media(min-width:768px) {

    .sidebar{
        overflow: auto;
        position: fixed;
        top: 0px;
        /*top: 50px;*/
        left: 0;
        width: 242px;
        border: none;
        border-radius: 0;
        /* border-top: 1px rgba(0,0,0,.5) solid; */
        /* background-color: #293241; */
        bottom: 0;
        padding-bottom: 40px;
    }

    .sidebar .sidebar-option>li>a {
        width: 100%;
        border-bottom: 1px rgba(0, 44, 67,  0.45) solid;
    }
    .sidebar .sidebar-option>li>a>.fa-angle-down{
            color: #fff !important;
    }

    .sidebar .sidebar-option li a:hover,
    .sidebar .sidebar-option li a:focus {
        outline: none;
        /* background-color: #6d89b0 !important; */
        background: #003855 !important;
    }
    
    .sidebar .subheader .profile {
        /*background-color: #293241;*/
        /* border-bottom: 2px solid #131b1e; */
        color: #878d90;
        padding: 30px 15px 25px;
        text-align: center;
    }
}

/*============== Media =============*/

@media(min-width:768px) {
  
    .wrapper {
        padding-left: 242px;
        padding-top: 70px;
    }
        .navbar-custom
    {
        padding-left: 242px;
    }
    .navbar-brand {
        float: left;
        height: 70px;
        padding: 10px 15px;
        font-size: 18px;
        line-height: 20px;
    }
    .navbar-brand>img
    {
        width:100%;
        max-width: 45px;
    }
    .navbar-left.top-nav{
        padding:15px 0;
    }
    .navbar-left.top-nav>li>.portal-status{
        border-left: 1px solid #000;
        padding: 10px;
    }

    .top-nav {
        padding: 0 15px;
    }
    .top-nav>li>a {
        padding:25px 10px;
        font-size: 16px;
    }

}

/*====== button style =====*/
.width-70{ 
 /*width:70px; */
  }

.btn
{
    
    height: 30px;
    border-radius: 4px;
    color: #fff;

}
.btn:hover, .btn:focus
{
    color:#fff;
    outline: 0;
}
.primary-btn,
.primary-btn:active
{
    background: #2C3E50;
    border: 1px solid #2C3E50;
    outline: none;
    text-transform: uppercase;

}
.btn-block 
{
    display: block;
    width: 100%;
}

/*================= Registration-page ==================*/
.textarea-style{
  height: 72px !important;
  resize: none;
  line-height: 19px;
}

.registration-page
{

}

.registration-page h2.title
{
    margin: 0;
    padding: 40px 0px;
    text-align: center;
    font-weight: 600;
    font-family :  "Lato Bold";
}
.mydata>input::-webkit-calendar-picker-indicator {
    display: none !important;
  }

  /* *********under-construction-page********/
 .topcontainer p span {
font-size: 90px;
line-height: 90px;
color: #1abc9c;
}
.topcontainer {
text-align: center;
}
  /*************end***************/

  
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/********profileImg*******/
.profileImg {
    position: absolute;
    z-index: 2;
    width: 125px;
    height: 125px !important;
    top: 0;
    opacity: 0;
    border-radius: 50%;
}

/******6-april*******/
*{
    box-sizing: border-box;
    -webkit-box-sizing : border-box;
    -moz-box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
.reqErr{
    color: red;
}
.manageLeave table,.manageLeave td,.manageLeave th  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;

}


.manageLeave table{
    width :100%;
}

.bgWhite{
  background-color:#fff !important;
}

.searchBar{
    width: auto !important;
    display: flex;
}
.searchBarRow{
    margin-top: 20px;
}

.searchLabel{
    padding-right: 5px;
        line-height: 2;
}
.leaveAppComment{
    padding: 10px;
    text-align: left;
}
.leaveAppCommentText{
    width: 100%;
}
.leaveAction{
    text-align: center;
}
.approve{
    padding: 5px;
}
th,td{
   text-align: center;
}

.datesRow{
    display: flex;
}
.fromDate{
    margin-right : 10px;
}

.halfDayBox{
    margin-right: 5px !important;
}

.flexDiv{
    display: flex;

}

.margin5{
    margin: 5px 5px 0px 0px;
}
.widthAuto{
    width: auto !important;
}
.alignCenter{
    text-align: center;
}
.width10{
    max-width: 10px;
}

/****** FOR IFRAME *******/
/*.iframeStyle{
    border: 2px solid grey;
    height:100%;
}

@media screen and (max-height: 1024px) {
   .content-section .iframeStyle { min-height: 600px;}    
}
@media screen and (max-height: 767px) {
   .content-section .iframeStyle { min-height: 480px;}
}
*/

.iframeStyle-pdf{
    border: 2px solid grey;
    min-height: 850px;
    width:100%;
}

@media screen and (max-width: 1440px) {
   .content-section .iframeStyle-pdf { 
        min-height: 784px;
    }
}
@media screen and (max-width: 1280px) {
   .content-section .iframeStyle-pdf { 
        min-height: 684px;
    }
}
@media screen and (max-width: 1024px) {
   .content-section .iframeStyle-pdf { 
        min-height: 540px;
    }
}


/******6-april end*******/

/**/
.flex-inline{display: flex;}
.margin-rtb-6{margin: 6px 6px 6px 0px;}

/*=============== Checkbox =================*/
.checkbox-custom-label {
    position: relative;
}
.checkbox-custom{
    opacity: 0;
    position: absolute;
    margin-left: 0px !important;  
}
.checkbox-custom, .checkbox-custom-label{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox-custom + .checkbox-custom-label:after {
    content: '';
    background: #fff;
    border: 2px solid #212c30;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 0px;
    margin-left: 10px;
    text-align: center;

}
#document, html, body {
    height: 100%;
}

.checkbox-custom:checked + .checkbox-custom-label:after {
     content: "\f00c";
     font-family: 'FontAwesome';
     background: #ffffff;
     color: #133d50;
     font-size: 11px;
 }

/*/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #c8d8e0; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.nav-center-text {
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-top: 17px;
}

.login-heading {
    font-size: 36px;
    font-weight: bold;
    color: #133d50;
    padding-left: 15px;
    /*margin-bottom: 10%;*/
}

.login-form-heading {
    font-size: 25px;
    font-weight: bold;
    color: #133d50;
    margin-bottom: 10px;    
}

.login-para {
    color: #133d50;
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-fluid {
    height:100%;
}

.login-form {
    max-width: 450px;
}
.login-page-rightside {
    background: #dae2ee;
    margin-bottom: 12px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
}
.login-page-rightside header {
    background: #133d50;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 9px 15px 8px 15px;
}
.login-page-rightside .content {
    padding: 25px 15px 10px;
    margin-top: 25px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
}
/*#wrapperDiv.wrapper {
    margin-top: 70px;
}
*//*.login-page{
   margin-top: 100px !important; 
}*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

      .form input {
          font-family: "Roboto", sans-serif;
          width: 100%;
          margin: 0 0 15px;
          padding: 8px 15px;
          box-sizing: border-box;
          font-size: 14px;
      }

      .form button {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #133d50;
        border: 0;
        padding: 8px 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        font-weight: bold;
        border-radius:4px;
      }

      .form button:hover,
      .form button:active,
      .form button:focus {
            background: #133d50;
      }

      .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
      }

      .form .message a {
            color: #133d50;
            text-decoration: none;
      }

      .form .register-form {
            display: none;
      }


      .container:before,
      .container:after {
            content: "";
            display: block;
            clear: both;
      }

      .container .info {
            margin: 50px auto;
            text-align: center;
      }

      .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
      }

      .container .info span {
            color: #4d4d4d;
            font-size: 12px;
      }

      .container .info span a {
            color: #000000;
            text-decoration: none;
      }

      .container .info span .fa {
            color: #EF3B3A;
      }

      body {
            /*background: #133d50;*/
            /* fallback for old browsers */

            /*font-family: "Lato Regular";*/
            font-family: "Lato";
          /*  -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;*/
      }
      
      /*.login-page {
          margin-top: 35px;
          display: inline-block;
          width: 100%;
      }*/
       
       .login-page-div{
        position: relative;
        min-height: 100%;
        margin: 0 20px;
       }
      .login-page-form{
            position: absolute;
            /*top: calc(40% - 130px);*/
            top:20%;
            left: 0;
            width:100%;
            background: #DFDDDF;
            padding: 40px 25px 10px 25px;
            border-radius: 10px;
        }
        @media(min-width:736px) {
            .login-page-form{
                margin: 0 auto;
                width: 420px;
                /* left: 15%;
                top: 22%; */
                left: 12%;
                top: 17%;
                background: #DFDDDF;
                border-radius: 10px;
            }
        }

      .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
      }
    .link-login{
        color: #808080;
        font-weight: bold;
        text-align: right;
        font-size: 14px;

    }

.closebtn {
    margin-left: 15px;
    color: red;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    vertical-align: sub;
}

.closebtn:hover {
    color: black;
}
    .linkTextStyle {
        text-decoration: none;
        color: #133d50 !important;
         font-size: 14px;
    }

.center {
    display: block;
    text-align: -webkit-center;
        font-size: 14px;
}

.footerFixedBottom {
    position: fixed;
    bottom: 0px;
    top: 568px;
    left: 0px;
    text-align: center;
    padding: 10px 15px;
    right: 0px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FE4300;
}
.forgotPass{
    padding:50px;
}
@media only screen and (max-width: 767px){
    .forgotPass{
        padding:15px;
    }
}
/*.footer-font{*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 24px;*/
     /*margin:0 0 2px;*/

/*}*/

/******************policies**************/
.subHeading_pol{
margin: 5px 0px 5px 0px !important;
}

.description-policy li{
        font-size: 14px !important;
}
/*********************end***********/

.alert {
    margin-bottom: 0 !important;
}


.enableEdit{
padding: 6px 8px !important;
}

.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}

.rule-condition-tooltip{
    position: absolute;
    z-index: 1;
    border: 1px solid;
    border-radius: 5px!important;
    background: #fff;
    font-size: 10px;
    padding: 10px !important;
}

.rule-condition-tooltip .fa-check{
    color:green;
}

.rule-condition-tooltip .fa-times{
 color:red;
}

.margTop5{
    margin-top:5px;
}
.marTop20{
    margin-top : 20px;
}

.errPassBorder{
    border: 1px solid red !important;
}

.backgroundBanner{
    background: url("../../content/img/HR.jpg") no-repeat center;
    background-size: cover;
    background-position: 71%;
    width:100%;
}
.zeus-login{
    display: inline-block;
}
.zeus-login img{
    width:400px;
    max-width: 100%;
}
.login-page-form .form-section{
    padding: 50px;
}
@media only screen and (max-width: 767px){
    .login-page-form .form-section{
        padding: 15px;
    }
}
html, body
{   height:100%;
    width:100%;
}
.nav-title {
    /*width: 100%;*/
    /*position: absolute;*/
    color: #fff;
    font-size: 28px;
    text-align: center;
    font-weight: normal;
    line-height: 70px;
    padding: 0px 70px;
    font-family: "Lato Black";
}

@media only screen and (max-width: 767px){
    .nav-title { font-size: 14px;}
}


.content-background{
    background: url("../../content/img/sub_pages.png") no-repeat 100%;
    background-size: cover;
    width:100%;
}

.odd{
   background-color: #ddd;
}

.even{
   background-color:white;
}


.dataTables_length select, .dataTables_filter input{
    margin-left: 10px;
    display: block;
    float: right;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 10px;
}
.emplActBtn .dropdown-menu {
    top: 36px !important;
    left: -68px !important;
}
/*.btn-success:hover {color: #fff;}*/

.dataTables_filter label{
    line-height: 35px;
}

.dataTables_length label{

      line-height: 35px;
}

.pad-lr-pass{
    padding: 8px 30px 8px 15px;
}
.show-hide-pass{
    position: absolute;
    top: 9px;
    color: #070707;
    right: 13px;
    cursor: pointer;
}

.heading_style{
   font-family :  "Lato Bold";
}

/*.loading{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*color: #050505;*/
    /*font-size: 50px;*/
    /*text-align: center;*/
    /*background: rgba(255, 255, 255, 0.37);*/
    /*width: 100%;*/
    /*padding: 10px;*/
/*}*/

/*.form.marginTop100{
    margin: 100px auto 100px;
}*/



/*css for profile picture cropping*/
.cropArea {
  /*background: #E4E4E4;*/
  overflow: hidden;
  width:150px;
  height:150px;
}

.cropped {
    width: 700px;
}
/*img-crop {
        display: block;
    
      }*/
  img-crop > canvas{
        margin: 0!important;
        max-width: 150px;
        max-height: 150px;
        }

.holidaylist-div{
   height: 612px;
   overflow: auto;
}

#holidayList::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.5) !important;
}
.table-user-information td{

    text-align: left !important;

}
/* .table{
    table-layout: fixed;
} */

.table-user-information td{
    border : none !important;
}

/* .profileDiscription{
    margin-left: 10px;

} */

.profileBlock{
/* background: rgba(240, 240, 240, 0.52); */
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
    margin: 2px;
    padding: 2px 0px 0px 10px;
}

.card-view{
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
    background: #fff;
    padding: 20px;

}
.userimage{
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    background: rgba(11, 89, 129, .10);
    box-shadow: 0px 7px 25px rgba(0, 0, 0, .08);
    border-radius: 6px;
    overflow: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.userimage p{
    margin: 0;
    background: #0b5981;
    color: #fff;
    padding: 6px 0 4px;
    font-size: 11px !important;
}
.userimage button{
    background: #fd7446 !important;
    border: 0;
    box-shadow: none;
}
.userimage button:hover,
.userimage button:focus{
    background: #de5d32  !important;
}
.bd_image{
        height: 125px !important;
        width: 125px !important;
        display: block;
        margin: 0 auto 10px;
        flex:1;
}
.lSPager.lSpg{
    /*display: none !important;*/
}

.paddRight0{
    padding-right: 0px !important;
}

.paddTop5{
    padding-top: 5px !important;
}

.paddLeft5{
      padding-left: 5px !important;
}

#wrap{
    height: 180px;
    /*overflow-y: scroll;*/
}

#holidayList{
    height: 90px;
    overflow-y: auto; 
}

#notificationDiv{
    /*height: 165px;*/
    height: calc(100% - 45px);
    overflow: hidden;
    position: relative;
}

.ProfileInfo{
    /*height: 360px;*/
    font-size: 14px;
}

/*********** profile picture *********/
.profile-img-container {
  position: absolute;
  /*width:50%;*/
  /*border-radius:50%;*/
  overflow:hidden;
}

.profile-img-container img:hover {
  opacity: 0.5;
  z-index: 501;
}

.profile-img-container img:hover + i {
  display: block;
  z-index: 500;
}

.profile-img-container .icon-wrapper {
  position: absolute;
  bottom:0;
  left:0;
  background:rgba(0,0,0,0.7);
  color:#fff;
  text-align:center;
  width:100%;
  padding:5px;
}

/*.profile-img-container img {
position:absolute;
}*/

/*.profile-img-container {
  position:relative;
}*/

#fileInput  {
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


.profile-img-container .icon-wrapper .fa-5x {
    font-size: 2em !important;
}

.profile-image{
    width:100%;
    /* ADDED     */
    border-radius: 50%;
    overflow: hidden;
    max-width: 175px;
    margin-top: -110px !important;
    display: block;
    margin: 0 auto 15px;
    min-height: 175px;
    border: 1px solid #d7d7d7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-image{
    margin-top: 10px;
    max-width: 315px;
    width:100%;
    display: inline-block;
}

.profile-image .overly {  
    position: absolute;  
    top: 0;  
    bottom: 0;  
    right: 0;  
    left: 0;  
    background: rgba(0, 0, 0, 0.38);  
    opacity: 0;  
    -webkit-transition: .3s all;  
    -o-transition: .3s all;  transition: .3s all;
}
.profile-image:hover .overly {    
    opacity: 1;
}

.profile-image .overly .position-center{ 
    position: absolute;  top: 50%;  
    -webkit-transform: translate(0%, -50%);  
    -moz-transform: translate(0%, -50%);  
    -ms-transform: translate(0%, -50%);  
    transform: translate(0%, -50%);  
    width: 100%;  
    padding: 10px;
    text-align: center;
}
.profile-image .overly .position-center .fa{
    color: rgba(255,255,255,0.9);
    font-size: 20px;
}


.userimage .overly {  
    position: absolute;  
    top: 0;  
    bottom: 0;  
    right: 0;  
    left: 0;  
    background: rgba(0, 0, 0, 0.38);  
    opacity: 0;  
    -webkit-transition: .3s all;  
    -o-transition: .3s all;  transition: .3s all;
}

.userimage:hover .overly {    
    opacity: 1;
}

.userimage .overly .position-center{ 
    position: absolute;  top: 50%;  
    -webkit-transform: translate(0%, -50%);  
    -moz-transform: translate(0%, -50%);  
    -ms-transform: translate(0%, -50%);  
    transform: translate(0%, -50%);  
    width: 100%;  
    padding: 10px;
    text-align: center;
}
.userimage .overly .position-center .fa{
    color: rgba(255,255,255,0.9);
    font-size: 20px;
}
.review-table,.review-table td,.review-table th  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}



.fc-other-month {
    visibility: hidden;
}
.fc-other-month.fc-future{
    display: none;
}

#calendar .fc-day>div{
    min-height: 0px !important;
}
#roster_calendar .fc-day>div{
    min-height: 48px !important;
}

/*.icon-spend{        border-radius: 50%; width: 10px;    height: 10px;    display: inline-block;    position: relative;    top: 1px;    margin-right: 2px;}
.icon-change{    width:12px;    height: 2px;    display: inline-block;    position: relative;    top: -3px;    margin-right: 2px;}
#calendar .legend{
    text-align: center;
}*/

#holidayList .table>tbody>tr>td{
    padding: 2px !important;
}

.margin-holidayLabel{
        margin: 8px 6px 6px 0px;
}
.width-10{
    width:10%;
}
.width-8{
    width:8%;
}
/*============Tooltip===============*/
.rating-tooltip {
    position: relative;
    display: inline-block;
    padding: 5px;
}

.rating-tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #212c30;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 110%;
}

.rating-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 11%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.rating-tooltip:hover .tooltiptext {
    visibility: visible;
}
.inline{
    display: flex;
    width:100%;
}


/********notification css *****************/

/* IMPORT GOOGLE FONTS */

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);




/* NEWS FRAME AREA TOP LEVEL PAGE - WIDTH ADDS BORDER */

#news_iframe_scroll {
        width: 100%;
        max-width: 250px;
        min-width: 200px;
        margin: 0px auto 10px auto;
        border: #000000 1px solid;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        }

#news_iframe_scroll iframe 
        {
        width: 100%;
        height: 10px; /* IF YOU EDIT HEIGHT EDIT THE SCROLLING SCRIPT HEIGHT!!!! */
        display: block;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        }

.news_scroll-title 
        {
        color: #FFFFFF;
        font: normal 20px "Droid Sans", arial, sans-serif;
        text-align: left;
        background-color: #276396;
        padding: 5px 5px 5px 5px;
        border-bottom: #C0C0C0 5px solid;
        }




/* EMBEDDED NEWS PAGE BODY */

#NewsDiv    { position: absolute; left: 0; top: 0px; width: 100%; }

div.news-scroll {
        /*background-color: #FFFFFF;*/
        margin: 0;
        padding: 0;
        border: 0;
        }

/* FONTS & PADDING */

.scroll-text-if {
        color: #666666;
        font-size: 12px;
        text-align: left;
        padding: 8px 7px 0px 7px;

        }

.scroll-title-if {
        color: #000000;
         font-size: 14px;
        text-align: left;
        /*line-height: 25px;*/
        display: block;
        /* Added */
        padding: 10px 10px;
        margin-bottom: 15px;
        background: rgba(11, 89, 129,  0.15);
        /* box-shadow: rgba(0, 0, 0, 0.38); */
        border-radius: 6px;
        }

/* EMBEDDED NEWS PAGE LINK COLORS */

.news-scroll a:link { color: #0033FF; text-decoration: none; }

.news-scroll a:visited  { color: #6633FF; text-decoration: none; }

.news-scroll a:active   { color: #0033FF; text-decoration: none; }

.news-scroll a:hover    { color: #6699FF; text-decoration: underline; }



/***************notification css ends************************/
.roster-legend{
    list-style: none;
    margin:0;
    padding-left:0;
}
.roster-legend li{
  display: inline-block;
  margin-right: 7px;
  font-size: 10px;
}
.roster-legend li span{
    display: inline-block;
    width:8px;
    height:8px;
     border-radius: 50%;
    /*margin-right: 7px;*/
}


.profileBlock h4{
    margin-top: 5px;
}

.changeColor{
    background:#f7f7f7 !important;
}

.modal-alert{
    position: absolute;
    top: calc(45% - 60px);
    left: 0;
    right: 0;
}
.modal-alert .alert{
    padding: 10px;
    font-size: 16px;
}

.empSearchLabel{
    padding-right: 5px;
    line-height: 3;
}

.addBtn-btn .fa-plus{
    font-size: 20px;
    /*line-height: 1.5;*/
}

.addBtn-btn button{
    height: 30px;
    width: 30px;
    line-height: 0.5;
    /* text-align: center; */
    margin-left: 5px;
}

.serial_num{
    width: 20px !important;
}
/*.modal-backdrop {
    background: rgba(0, 0, 0, 0.4) !important;
}
.modal-backdrop + .modal-backdrop
{
    background: none !important;
}*/

.modalPadding{
    padding: 20px;
}

.multiSelect button{
    font-size: 14px;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none !important;
    padding: 6px 21px !important;
    text-align: left;
    width: 200px;
    font-family: sans-serif;
}
.multiSelect button .caret {
    position: relative;
    top: 8px;
    float: right;
}

.multiSelect button:hover,
.multiSelect button:active,
.multiSelect button:active,
.multiSelect button:focus{
    font-size: 14px;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none;
    border: 1px solid #ccc !important;
    border-radius: 4px;
}

#rosterInput{
    width: 100% !important;
    /*width: 110px;*/
    height: 30px;
}

    .rosterFileUpload{
        position: relative;
    }
    .rosterFileUpload .choose-file{
        position:absolute;
        z-index:2;
        top:0;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity:0;
        background-color:transparent;
        color:transparent;
        filter: alpha(opacity=0);
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    .rosterFileUpload .label-info{
        background: transparent;
        color: #000;
    }

    .rosterFileUpload .roaster-browse{
        position: relative;
        overflow: hidden;
    }

    .profileData{
        margin-bottom: 0;
    }
    .modal-body{
        text-align : center !important;
    }

    .rating-tooltip .fa.fa-info-circle{
       font-size: medium !important;
    }

    .selfEvaluationbtn .btn.primary-btn{
        padding: 2px !important;
        width:73px ! important;
        font-size: 12px;
    }

    .modal-dialog.modal-alert .btn{
        color:#000;
        background:rgba(153, 153, 153, 0.75);
    }

    .modal-dialog.modal-alert .alert.alert-danger {
        background-color: white !important;
        color: #f44336 !important;
        border: none !important;
    }
    .modal-dialog.modal-alert .alert.alert-success {
        background-color: white !important;
        color: #3c763d !important;
        border: none !important;
    }


    .table-responsive{
        padding: 5px;
        
    
    }

    textarea{
        resize:none;
    }
    .dateNotification{
        margin: 0px !important;
    }
    .bdayMinHeight{
        min-height: 210px;
    }

    .fc-today .fc-day-number{
        color: #333 ;
        background-color: #FFFFFF;
    }

    /***
    *loading screen*
    ***/
    #global-progress-display {
            position: fixed;
            z-index: 9999;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            background: #ccc;
            opacity: 0.5;

    }

    #global-progress-display .circle-load-svg {
        position: absolute;
        width: 114px;
        height: 114px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #global-progress-display #global-progress-img {
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0.9;

        transition: 0s;
        -webkit-transition: 0s;
    }

    #global-dim-screen {
        display: block;
        position: fixed;
        z-index: 9998;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        z-index: -1 !important;

        background-color: rgba(0, 0, 0, 0);

        transition: 0s;
        -webkit-transition: 0s;
    }

    #global-progress-display #global-progress {
        display: block;
        width: 100%;
        margin: auto;

        transition: 0s;
        -webkit-transition: 0s;

    }

    .paySlipLabel{
        margin-top: 6px;
        margin-right: 5px;
        white-space: nowrap;
    }
    /***
    *loading screen ends*
    ***/

    .notification-score {
        background: red;   
        border-radius: 4px;  
        min-width: 16px;
        text-align: center;
        font-size: 10px;
        display: inline-block;
        color: #fff;  
        padding: 2px 3px 0;
    }

    .forgotPass .errPassBorder{
        border: 2px solid red !important;
    }

    .paySlip-select{
        height:30px !important;
    }
 
.closeImg-btn{
    position: absolute;
    top: 5px;
    right: 6px;
    z-index: 999;
    color: #fff;
    background: #fe4300;
    padding: 3px 4px;
    border-radius: 20px;
 }

 .img-border{
    border: 1px solid #000;
    
 }
 .evaluation-download-icon{
    font-size: large; 
    margin-left: 20px;
    vertical-align: text-top;
 }

 .width-11{
    width:14% !important;
 }

 ui-cropper > canvas{
    margin-top: 0 !important;
    margin-left: 0 !important;
}

li.clicked-tab a { 
    color: #fff !important;}

/* li.clicked-tab a .icons{ 
    color: #ff4200 !important;
} */
.clicked-tab{
    background: #003855 !important;
}
.clicked-tab > a {
    background-color:#6d89b0;
    background: #003855 !important;
}
/*.parentClicked-tab > a {
    color: #fff !important;
}
*/

.comment-hover:hover .commentText {
    visibility: visible;
}
.comment-hover {
    position: relative;
    display: inline-block;
    padding: 5px;
}
.comment-hover .commentText {
    visibility: hidden;
    width: 180px;
    background-color: #6d89b0;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: -50%;
}
.comment-hover .commentText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    margin-top: 0px;
    border-width: 8px;
    border-style: solid;
    border-color: #6d89b0 transparent transparent transparent;
}

.btnSpin {
   overflow:hidden;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@keyframes spin { 100% {  transform:translate(0, 200%); } }

/*==========================*/
.medicalFileUpload {
    position: relative;
}
.medicalFileUpload .choose-file {
    position: absolute;
    /*z-index: 2;*/
    top: 0;
    left: 0;
    opacity: 0;
    background-color: transparent;
    color: transparent;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.link-download{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #337ab7;

}

.full{width: 100%;}
/*.multiSelect
{
    margin-left: 15px;
}*/
.multiSelect .dropdown-menu{
    max-height:200px;
    /*min-width: 200px;*/
    width: 100%;
}
.label{
    font-size:100% !important;
}
.initiate-eval button, .initiate-eval .multiselect-parent{
width:100%;
}

@media only screen and (max-width: 767px) {
    .multiSelect .dropdown-menu {
        bottom: 100%;
        top:auto;
    }
} 

.resign-table{
    height:300px;
    overflow:auto;
}
.resign-table .table-bordered>thead>tr>th,
.resign-table .table-bordered>tbody>tr>td {
   padding: 5px;
}


.btnAdd-route{
    height: 30px !important;
    width: 30px !important;
    padding: 5px 4px;
    border-radius: 1px;
    color: #333;
    border: 1px solid #333;
}
.btnAdd-route:hover,
.btnAdd-route:focus{
    color: #333;
}

.full-height{
    height:100%;

}

.heading-title{
    margin: 0;
    padding: 40px 0px;
    text-align: center;
    font-weight: 600;
    font-family :  "Lato Bold";
}

.download-hover:hover .downloadText {
    visibility: visible;
    display: block;
}
.download-hover {
    position: relative;
    display: inline-block;
    padding: 5px;
}
.download-hover .downloadText {
    visibility: hidden;
    width: 90px;
    background-color: #6d89b0;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    right: -110%;
    font-size: 14px;
}
.download-hover .downloadText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    margin-top: 0px;
    border-width: 8px;
    border-style: solid;
    border-color: #6d89b0 transparent transparent transparent;
}

.hand-icon{
    cursor:pointer;
}

.disable-li{
    pointer-events:none; 
    opacity:0.6;         
}

.accept-terms{
    box-shadow: 2px 1px 12px #333;
    margin-top: 74px;
}
.accept-terms .acceptTerms-content{
    padding: 30px 15px;
    width: 100%;
    display: inline-block;    
}



.note-info{
    color: #6686b0;
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
    
}

/* resignation page start */

.team-resignation-page{
    box-shadow: 0px 7px 25px rgba(0, 0, 0, .08);
    background: #fff;
    padding: 15px 15px 35px 15px;
    margin-top: 25px;
}
.inner-page-box{
    box-shadow: 0px 7px 25px rgba(0, 0, 0, .08);
    background: #fff;
    padding: 15px 15px 35px 15px;
     
}

.inner-page-content{
    padding: 20px;
    
}
                                                
.resignationForm table>tbody>tr>td{
    vertical-align: middle;
    font-size: 14px;
    /*line-height:35px;*/
}

.input-label{
    /*width: 155px;*/
    width: 20%;

}
/*.resignationForm table>tbody>tr>td>textarea, */
.resignationForm table>tbody>tr>td>select{
    width: 45%;
    height: 36px;

}
.resignationForm table>tbody>tr>td>textarea:focus,.resignationForm table>tbody>tr>td>select:focus{
    border-color: #ccc;
    -webkit-box-shadow: inset 0 0px 0px #ff2806, 0 0 8px #ff2806;
    box-shadow: inset 0 0px 0px #ff2806, 0 0 8px #ff2806;
}

.inner-page-box .resignation-button-apply{
    height: 30px;
    width: 150px;
    background-color: #2C3E50;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    padding: 5px 0px;
    border: 0;
    border-radius: 5px;
}


.inner-page-box .resignation-button-cancel{
    background-color: #fff;
    color: #2C3E50;
    border-color: black;
    border: 1px solid black;
    height: 30px;
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 0px;
    border-radius: 5px;

}

.inner-page-box .resignationForm .resignation-div{
    width: 45%;
    padding: 8px 12px;
}




/* ===== progress for resignation start===== */
.resignation-progress {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    color: #909090;
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 14px;
    font-family: "Lato bold";
}
.resignation-progress > li {
    display: table-cell;
    text-align: center;
    position: relative;
}
.resignation-progress > li.active{
    color:#000;
}
.resignation-progress > li.step-you:before {
    background: #909090 ;
    color:#000;
}

.approved:before{
    background: green!important;
}
.rejected:before{
    background : red!important;
}
.resignation-progress > li.step-manager:before {
    background: #909090 ;
    color:#000;
}
.resignation-progress > li.step-hr:before {
    background: #909090 ;
    color:#000;
}
.resignation-progress > li:before {
    position: relative;
    content: " ";
    width: 45px;
    height: 45px;
    display: block;
    margin: 0 auto 5px;
    line-height: 22px;
    background: #909090;
    border: 11px solid #ccc;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    z-index: 1;
}
.resignation-progress > li:first-child:after {
    display: none;
}
.resignation-progress > li:after {
    position: absolute;
    width: 100%;
    height: 3px;
    display: block;
    top: 23px;
    left: -50%;
    content: '';
    background: #ccc;
    margin-left: 2px;
    z-index: -1;
}
/* ===== progress for resignation end===== */


/* resignation page end */

/* ========= Leave Account page start============= */
.leave-account-page .title{
    margin: 0;
    padding: 40px 0px;
    text-align: center;
    font-weight: 600;
    font-family :  "Lato Bold";
}

.leave-account-page table{
    background: #fff;
} 
/* .leave-account-page table>thead>tr>th{
    background-color:rgba(11, 89, 129, 0.2);
    padding: 10px;
    border-bottom: 0;
    border-right: 3px solid #909090;
} */
.leave-account-page table>tbody>tr{
    border-bottom: 3px solid #f6f6f6;
}

.leave-account-page table>tbody>tr>td{
    padding: 14px;
    border-top: 0;
}

.leave-account-page .sub-title{
    color: #909090;
    text-transform: uppercase;
}

/* ==========Leave Account page end ==============*/
.submit-feedback-page{
    box-shadow: 0px 7px 25px rgba(0, 0, 0, .08);
    background: #fff;
    padding: 15px 15px 35px 15px;
}
.feedback-details-page{
    box-shadow: 0px 7px 25px rgba(0, 0, 0, .08);
    background: #fff;
    padding: 15px 15px 35px 15px;
}
.leave-application-page{
    box-shadow: 0px 7px 25px rgba(0, 0, 0, .08);
    background: #fff;
}
.leave-application-page table{
    box-shadow: 0px 7px 25px rgba(0, 0, 0, .08);
    background: #fff;
} 
/*========= Leave Application page start ====*/



/*=========Leave Application page end =====*/



/*===========Leave Details page start============*/
.leave-details-page .dataTable-heading{
    font-style: italic;
    color:#909090;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
   
}


/*============Leave Details page End ============-*/


/* ========= For Datatables start ==========*/
.dataTables_wrapper{
    margin-bottom: 20px;

}
.dataTable-heading{
    font-style: italic;
    color:#0b5981;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

}
.dataTables_length>label>select{
   /*position: relative;*/
   padding: 6px 25px;
   border-radius: 20px !important;
   background: url("../../content/img/select-down-angles.jpg") no-repeat right 10px top 13px !important;
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dataTables_length>label>select{
    outline: 0;
}

.dataTables_filter>label>input{
   position: relative;
   padding: 6px 25px;
   border-radius: 20px !important;
}
.dataTables_filter>label>input{
    background: url("../../content/img/search1.png") no-repeat right 9px top 7px !important;
}
.dataTables_filter>label>input:focus{
    outline: 0;
}

.dataTables_wrapper .table.dataTable thead th{
    background-color: #f6f6f6;
    /* border-left: 2px solid #ddd; */
}
.dataTables_wrapper .table.dataTable thead th, 
.dataTables_wrapper .table.dataTable tbody td {
    vertical-align: middle;
    border-bottom: 2px solid  #f6f6f6;
    border-top: 0;
}
.dataTables_wrapper .table.dataTable tbody tr td:first-child,
.dataTables_wrapper .table.dataTable tbody tr td:last-child {
    border-bottom: 0px !important;
    width: 35px;
   
}

.dataTables_wrapper .table.dataTable.no-footer {
    border-bottom: 0px;
}
.dataTables_wrapper .table {
    border-radius: 5px;
    border-collapse: collapse;
    /* box-shadow: 1px 2px 10px rgba(51, 51, 51, 0.41); */
}
/* span.border-left{
    width: 2px;
    height: 85%;
    position: absolute;
    top: 8%;
    right: 0px;
    background: #ccc;
} */



table.dataTable, table.dataTable th, table.dataTable td {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table.dataTable thead .sorting_asc:first-child {
    background-image: none !important;
    /* display: none; */
}

table thead th {
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd !important;
}
/*============== for dataTablesEnd===============*/


/*=========For Common features for all templates start =======*/
.button-apply{
    height: 30px;
    width: 150px;
    background-color: #2C3E50;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    padding: 5px 0px;
    border: 0;
    border-radius: 5px;
}

.button-cancel{
    background-color: #fff;
    color: #2C3E50;
    border-color: black;
    border: 1px solid black;
    height: 30px;
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 0px;
    border-radius: 5px;

}

.btn-cursor-pointer{
    opacity: 1 !important;
    cursor: pointer !important;

}
.btn-width-82px{
    width: 82px !important;
}
.input-text-border{
    border: 1px solid #ccc;
    border-radius: 25px;
    font-style: italic;
    font-size:14px;
}

.input-text-border-size{
    padding: 8px 12px;

}

.control-label{
    text-align:left!important;
    font-size:14px;
}

.pad-0{
padding:0;
}

select:focus{
    outline: 0 !important;
    outline-offset: 0px !important;
    border-color: #ccc !important;
    -webkit-box-shadow: inset 0 0px 0px #ff2806, 0 0 8px #ff2806 !important;
    box-shadow: inset 0 0px 0px #ff2806, 0 0 8px #ff2806 !important;
}

.disableButton{
    cursor:not-allowed;
    background-color:#707d8a!important;
}

.btn-success {
    color: #fff;
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.btn-action{
    background-color: #2C3E50;
    border-color: #2C3E50;
    /*text-transform: uppercase;*/
}
.height-36{
    height:36px;
}
/*.bdayColor{
    color: orange;
}

.anniversaryColor{
    color:blue;
}
*/






/*=========For Common features for all templates end =======*/


/*=======for subordinateResignationDetail page start */
.resignation-subordinate-form input.form-control:focus {

     border-color: #ccc;
    -webkit-box-shadow: inset 0 0px 0px #ff2806, 0 0 8px #ff2806;
    box-shadow: inset 0 0px 0px #ff2806, 0 0 8px #ff2806;
    }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}


/*=======for subordinateResignationDetail page end */


/*====profile page start=========*/

.tital{ 
    font-size:16px;
    font-weight:500;
}
.bot-border{ 
    border-bottom:1px #f8f8f8 solid;
    margin:5px 0  5px 0
}

/*====profile page end=========*/


/* ==== view current breakdown page start===== */

.payslip-form{
    box-shadow: 0px 2px 10px #6e6d6d;
    margin: 0px auto;
    width: 70%;
    min-width: 520px;
    padding: 20px;
}
 
.payslip-page {
  border: 1px solid #000;
  padding: 20px 40px;
}

@media screen and (max-width: 767px) {
    .payslip-form{
        padding: 10px;
    }
    .payslip-page{
        padding: 20px;
    }
}

.payslip-page .logo-div img {
  max-width: 200px;
  width:100%;
}
.payslip-page .address-div {
  padding: 20px 30px 5px 0px;
}
.payslip-page .address-div p{
 margin-bottom: 0;
}
.payslip-page .address-div .company-title {
  font-size: 18px;
  font-weight: 600;
}
.payslip-page .payslip-title {
  text-align: center;
  margin: 20px 0px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.payslip-page .address-div .cin-no {
  padding-top: 10px;
  text-align: right;
}
.payslip-page .payslip-details-table.table-bordered>tbody>tr>td {
  text-align:left;
  border: 1px solid #000;
  width:50%;
}
.payslip-page .payslip-details-table>tbody>tr>td.emp-details{
  padding: 20px 8px;
}
.payslip-page .payslip-details-table.table-bordered>tbody>tr>td>p,
.payslip-page .payslip-details-table.table-bordered>tbody>tr>td .inner-table>tbody>tr>td>p {
  margin-bottom: 0;
  font-weight: 600;
}
.payslip-page .payslip-details-table.table-bordered>tbody>tr>td .inner-table>tbody>tr>td {
    text-align:left;
    border-top:0;
    padding: 0px;
}
.payslip-page .payslip-details-table.table-bordered>tbody>tr>td .inner-table>tbody>tr>td:nth-child(2) {
  width:60px;
}  
.payslip-page .payslip-details-table>tbody>tr>td:nth-child(2){
  border-left:0px !important; 
}
.payslip-page .footer-text {
  margin-top: 14%;
}

/* ==== view current breakdown page end ===== */

/* ==== for policies and procedure pdf rendering start ==== */ 
/*.canvas-pdf{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(66, 62, 62, 0.41);
}*/

/* ===== for policies and procedure pdf rendering end === */


.img-uploader-content {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.img-uploader-content img {
    max-width: 100%;
    width: 100%;
}
.custome-holidaySlider {
    width: 100% !important;
    height: auto !important;
    display: inline-block; 
}
.custome-holidaySlider li {
    height: auto !important;
}

.parallel-height{
    height:395 !important;
}
.holiday-container img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}

.holidayCarousel .lightSlider{
    /* height: auto !important;
    width: auto !important; */
}
.holiday-slider-content {
    max-width: 352px;
    height: 352px;
    margin: 0 auto;
    position: relative;
}
.holidayCarousel .holiday-header
{
    padding: 0 !important;
    position: absolute;
    color: #fff;
    top: 0;
    height: 26px;
    line-height: 28px;
}
.holidayCarousel .lSAction>a
{
    top:50% !important;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
    outline: none;
}
table.addLeftBorder th{
    border-left: 2px solid#ddd !important;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
   
}
.table-user-information{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    padding: 25px 10px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.extra-space{
    left: 90px !important;
}

/* ADDED  */
.profile-description-row{
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-gap: 20px;
    min-height: 275px;
    padding-top: 100px;
}
.profile-description-row>div{
    /* background: rgba(240, 240, 240, 0.52); */
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
    padding: 15px;
    margin-bottom: 15px;
    background: #fff;
}

.table-user-information>div{
    min-width: 185px;
}
.grid{
    display: grid;
    grid-gap: 15px;

}
.grid.two{
    grid-template-columns: repeat(2, 1fr);
}

.profile-desc-col .grid{
    grid-template-columns: minmax(120px 175px) 1fr;
}
.card-title{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.upcoming-events-grid{
    display: flex;
    padding: 0;
    list-style: none;
    grid-gap: 20px;
    flex-wrap: wrap;
}
@media only screen and (min-width:1560px) {
    .change-width-size{
        width:25vw !important;
        padding: 5px !important;
        border-radius: 5px !important;
        left :-205px !important;
    
    /* left: calc(100% - 200px) !important; */
    /* left:-180px !important; */

    }
}
@media only screen and (max-width:1370px) {
    .change-width-size{
        width:25vw !important;
        padding: 5px !important;
        border-radius: 5px !important;
        left :-140px !important;
        
        /* left: calc(100% - 200px) !important; */
        /* left:-180px !important; */
    
    }
}
@media screen and (min-width: 1450px) and (max-width: 1550px) {
    .change-width-size{
        width:25vw !important;
        padding: 5px !important;
        border-radius: 5px !important;
        left :-170px !important;
        /* left: calc(100% - 200px) !important; */
        /* left:-180px !important; */
    
    }
}
.change-cursor-point{
    cursor :not-allowed;
}

@media only screen and (max-width:1199px) {
    .profile-description-row {
        display: block;
    }
}
@media only screen and (max-width:991px) {
    .profile-desc-col .grid {
        display: block;
    }
}
