<div class="backgroundBanner full-height">
    <div class="login-page-div">
        <div class="login-page login-page-form">
            <div class="text-center">
                <div class="zeus-login"><img src="{{vm.constantValues.portalLogoPath}}" alt="LOGO" class="img-responsive"></div>
            </div>
            <div class="form-section">
                <div class="form">
                    <form class="" name="loginForm" novalidate>
                        <div class="form-group" ng-init="vm.flag=true">
                            <div class="h-20">
                                <label ng-show="(vm.loginData.UserName!='' && blur && loginForm.emailId.$error.pattern && vm.flag)" class="reqErr"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Please enter proper email</label>
                            </div>
                            <input type="text" class="form-control" name="emailId" placeholder="example@company.com" ng-model="vm.loginData.UserName" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"  ng-blur="blur=true" ng-focus="vm.info=undefined;blur=false;vm.flag=true;" required/>
                        </div>

                        <div class="form-group relative">
                            <input type="password" class="form-control pad-lr-pass" placeholder="password" ng-model="vm.loginData.Password" name="pwd" id='password' ng-focus="vm.info=undefined;" required/>
                            <span class="show-hide-pass"><i class="fa fa-eye" aria-hidden="true" ng-model="vm.isChecked" id='toggle' ng-click='vm.togglePassword();'></i></span>
                        </div>

                        <button style="width:100%; background-color: #11597f;" type="submit"  ng-click="vm.login()">Log in</button>
                        <div class="text-center mt-10">
                            <a ui-sref="forgetPass" class="link-login">Forgot password?</a>
                        </div>
                    </form>
                    <br/>
                    <div class="h-20">
                        <label class = "reqErr" ng-if="vm.info">
                              <span class="closebtn " >&times;</span>
                              &nbsp;{{vm.info}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footerFixedBottom">
            <p>For assistance please contact 
                <a href="mailto:{{vm.constantValues.portalMailToId}}"  style="color:#fff;">{{vm.constantValues.portalMailToId}}</a>
            </p>
        </div>
    </div>
</div>



