<toaster-container></toaster-container>

<div class="content-section">
    <div class="container-fluid">
        <div class="leave-application-page">
            <div class="row">

                <div class="col-md-12">
                    <h3 class="dataTable-heading">Leave Application</h3>
                    <div class="col-md-8 col-md-offset-2">

                        <form id="leaveForm" class="leaveForm" name="leaveForm" novalidate>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="margin-rtb-6">Leave Type</label>
                                        <select  ng-disabled="vm.view==true" ng-class="{'highlightErr': leaveForm.type.$error.required 
                                        && leaveForm.$submitted}" class="form-control"  name="type" ng-change="vm.typeChanged();vm.validExtension=undefined;" ng-model="vm.leaveType" ng-options="type for type in vm.leaveTypes | orderBy:type " name="leaveTypes" required>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6" ng-hide="vm.view==true">
                                <div class="form-group">
                                    <p>&nbsp;</p>
                                    <label class="margin-rtb-6">{{vm.leaveType}}(s) remaining :</label>
                                    <span  style="font-weight: bold;margin-top: 6px;">{{vm.remainingLeaves[vm.leaveType] + ' ' +vm.remainingLeaves.unit}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label  class="margin-rtb-6">From<span style="color:red;">*</span></label>
                                    <input ng-disabled="vm.view==true" type="text" ng-if="vm.flagChanged"  ng-class="{'highlightErr': leaveForm.fromDate.$error.required
                                    && leaveForm.$submitted}" class="form-control" name="fromDate"  ng-model="vm.leaveApplicationData.fromDate"  datepicker2 
                                    initiate-id="toDate" leavetyp="vm.leaveType" is-leave-account="true" ng-change="dateChanged(vm.leaveApplicationData.fromDate);vm.leaveApplicationData.toDate=''" readonly="readonly"  required>
                                </div>
                            </div>

                            <div class="col-xs-6" ng-if="!vm.halfDay && vm.leaveApplicationData.fromDate != null">
                                <div class="form-group">
                                    <label class="margin-rtb-6">To<span style="color:red;">*</span></label>
                                    <input ng-disabled="vm.view==true" type="text"  id="toDate" ng-class="{'highlightErr': leaveForm.toDate.$error.required 
                                    && leaveForm.$submitted}" class="form-control" name="toDate" ng-model="vm.leaveApplicationData.toDate"  datepicker2  min-date="{{vm.leaveApplicationData.fromDate}}" is-leave-account="true" ng-change="dateChanged(vm.leaveApplicationData.toDate)"  readonly="readonly" ng-required='vm.halfDay==false'>
                                </div>
                            </div>
                        </div> 


                        <div class="row">
                            <div class="col-xs-12">
                                <div class="mb-15">
                                    <label for="checkbox-1" class="checkbox-custom-label">Half Day</label>
                                    <input ng-disabled="vm.view==true" type="checkbox" ng-model="vm.halfDay" class="">
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="vm.leaveType=='Sick Leave'" >
                            <div class="col-sm-12 mb-15">
                             
                                <div ng-if="vm.validExtension != undefined && !vm.validExtension" class="reqErr">Please provide a file with valid extension(pdf/jpg/jpeg/png)</div>

                                <div ng-if="vm.invalidSize" class="reqErr">File size should be less than 1 MB</div>
                                
                                <div ng-if="vm.view && vm.mandtoryFile!=''" class="reqErr">{{vm.mandtoryFile}}</div>
                                <div  class="medicalFileUpload">
                                    <label class="margin-rtb-6">Medical Certificate</label>
                                    <a class='btn btn-primary' href='javascript:void(0);' style="position: relative;" title ={{vm.fileChoosen}}>Browse...
                                <input type="file" accept=".pdf,.jpg,.jpeg,.png" class="choose-file" name="file_source" id="rosterInput"  onchange="angular.element(this).scope().vm.fileValidation()" style="width: 80px;">
                                   </a>&nbsp;
                                   
                                   <span class='label label-info' id="upload-file-info"></span>
                               </div>
                               <div>
                                 <strong class="note-info"><span style="font-size: 14px;color:#000;">Note:-</span> Medical Certificate extension should be in .pdf/.jpg/.jpeg/.png</strong>
                             </div>
                             
                         </div>
                     </div>

                     <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group mb-15">
                                <label id="">Comment<span style="color:red;">*</span></label>
                                <textarea ng-disabled="vm.view==true" class="form-control textarea-style" ng-class="{'highlightErr': leaveForm.comments.$error.required 
                                && leaveForm.$submitted}" name="comments" rows="5" name="employeeComments" id="comment" ng-model="vm.leaveApplicationData.employeeComments"   maxlength="270" required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="text-center mb-60" ng-if="vm.view==false"">
                        <button type="submit" class="btn primary-btn width-70"
                        ng-click="leaveForm.$valid && (vm.validExtension === undefined || vm.validExtension) && !vm.invalidSize && vm.applyLeave();leaveForm.reset();">Apply</button>
                        <input type="reset"  class="btn primary-btn width-70" value="Clear" ng-click = "vm.onReset()">
                    </div>

                    <div class="text-center" ng-if="vm.view==true">
                        <button  class="btn primary-btn width-70" ng-disabled="(vm.myRoster === null || vm.myRoster === undefined)"
                        ng-click="(vm.validExtension==undefined|| vm.validExtension) && !vm.invalidSize && vm.myRoster !== null && vm.upload(vm.id)">Apply</button>
                        <button type="button" class="btn primary-btn" ng-click="vm.goToPreviousPage()">Cancel</button>
                    </div>
                    
                </form>

                <div ng-if="vm.deductionInLeaves.length > 0" >
                    <h5 class="sub-title">After Approval Deduction In Leaves ({{vm.deductionInLeaves[0].year}}):-</h5>
                    <table class="table">
                        <thead>
                            <tr>
                             <th class="relative">CASUAL LEAVES <span class="border-left"></span></th>
                             <th class="relative">PRIVILEGE LEAVES <span class="border-left"></span></th>
                             <th class="relative">SICK LEAVES <span class="border-left"></span></th>
                             <th>LEAVE WITHOUT PAY</th>
                         </tr>
                     </thead>
                     <tbody>
                        <tr>
                         <td>{{vm.deductionInLeaves[0].deductedCasualLeave}}</td>
                         <td>{{vm.deductionInLeaves[0].deductedPrivilegeLeave}}</td>
                         <td>{{vm.deductionInLeaves[0].deductedSickLeave}}</td>
                         <td>{{vm.deductionInLeaves[0].deductedLeaveWithOutPay}}</td>
                     </tr>
                 </tbody>
             </table>
         </div>
         <div ng-if="vm.deductionInLeaves.length > 1" >
            <h5 class="sub-title">After approval deduction in leaves ({{vm.deductionInLeaves[1].year}}):-</h5>
            <table class="table">
                <thead>
                    <tr>
                     <th class="relative">CASUAL LEAVES <span class="border-left"></span></th>
                     <th class="relative">PRIVILEGE LEAVES <span class="border-left"></span></th>
                     <th class="relative">SICK LEAVES <span class="border-left"></span></th>
                     <th>LEAVE WITHOUT PAY</th>
                 </tr>
             </thead>
             <tbody>
                <tr>
                 <td>{{vm.deductionInLeaves[1].deductedCasualLeave}}</td>
                 <td>{{vm.deductionInLeaves[1].deductedPrivilegeLeave}}</td>
                 <td>{{vm.deductionInLeaves[1].deductedSickLeave}}</td>
                 <td>{{vm.deductionInLeaves[1].deductedLeaveWithOutPay}}</td>
             </tr>
         </tbody>
     </table>
 </div>

 <div ng-if="vm.deductionInLeaves.length > 0">
    <strong class="note-info"><span style="font-size: 14px;color:#000;">Note:-</span>You can withdraw your leaves if you don't want to apply</strong>
</div>
</div>
</div>
</div>
</div>
</div>
</div>












