<div class="content-section"  ng-init="vm.initialData()">
  <div class="container-fluid">
        <div class="medical-upload-page">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="dataTable-heading">Leave Application</h2>
                    <div class="col-md-8 col-md-offset-2">
                    
                     <form id="leaveForm" class="leaveForm" name="leaveForm" novalidate>
                       <div class="row" >
                        <div class="col-sm-6">
                        
                                <div class="form-group">
                                  <label class="margin-rtb-6">Leave Type</label>
                                  <input type="text" class="form-control" name="fromDate"  ng-model="vm.leaveType">
                                </div>
                            
                        </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                                <p>&nbsp;</p>
                                <label class="margin-rtb-6">{{vm.leaveType}}(s) Remaining:</label>
                                <span  style="font-weight: bold;margin-top: 6px;">{{vm.remainingLeaves[vm.leaveType]}}</span>
                            </div>
                          </div>
                            
                      </div>
                      <div class="row">
                            <div class="col-xs-6">
                              <div class="form-group" >
                                  <label  class="margin-rtb-6">From </label>
                                  <input type="text" class="form-control" name="fromDate"  ng-model="vm.leaveApplicationData.fromDate">

                                  
                              </div>
                            </div>
                            <div class="col-xs-6" ng-if="!vm.halfDay && vm.leaveApplicationData.fromDate != null">
                              <div class="form-group">
                                  <label class="margin-rtb-6">To</label>
                                 <input type="text" class="form-control" name="toDate" ng-model="vm.leaveApplicationData.toDate">

                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12">
                                <div class="mb-15">
                                <label for="checkbox-1" class="checkbox-custom-label">Half Day</label>
                                   <input type="checkbox" ng-model="vm.halfDay" class="">
                                </div>
                            </div>
                          </div>

                            <!-- changes -->

                            
                            <div  class="row" ng-show="vm.leaveType=='Sick Leave'" >
                       
                                <div class="col-sm-12 mb-15">
                                   
                                    <div ng-if="vm.validExtension != undefined && !vm.validExtension" class="reqErr">Please provide a file with valid extension(pdf)</div>
                                   
                                    <div ng-if="vm.invalidSize" class="reqErr">File size should be less than 1 MB</div>
                    
                                    <div  class="medicalFileUpload">
                                      <label class="margin-rtb-6">Medical Certificate</label>
                                      <a class='btn btn-primary' href='javascript:void(0);' style="position: relative;">Browse...
                                         <input type="file" class="choose-file" name="file_source" id="rosterInput"  onchange='$("#upload-file-info").html(document.getElementById("rosterInput").files[0].name);' style="width: 80px;">
                                      </a>&nbsp;
                                      
                                      <span class='label label-info' id="upload-file-info"></span>
                                    </div>
                                                                      
                                </div>
                            </div>

                            
                            <!-- changes -->
                          <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group mb-15">
                                  <label id="">Comment</label>
                                <textarea class="form-control textarea-style" ng-class="{'highlightErr': leaveForm.comments.$error.required 
                                    && leaveForm.$submitted}" name="comments" rows="5" name="employeeComments" id="comment" ng-model="vm.leaveApplicationData.employeeComments"   maxlength="270" required></textarea>
                                </div>
                            </div>

                       </div> <!--End row-->
                        
                        <div class="text-center">
                          <button type="submit" class="btn primary-btn width-70"
                          ng-click="leaveForm.$valid && (vm.validExtension==undefined|| vm.validExtension) && !vm.invalidSize && vm.applyLeave();leaveForm.reset();">Apply</button>
                          <input type="reset"  class="btn primary-btn width-70" value="Clear">
                          
                        </div>
                        </form>
                         
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper --> 
</div>